@import '//fonts.googleapis.com/css?family=Josefin+Sans:300, 700';

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.error-page {
  background-color: #808080;
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  font-weight: 300;

  display: flex;
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;

  justify-content: center;
  align-items: center;
  text-align: center;
}

.error-content {
  background-color: white;
  border-radius: 80px;
  padding: 80px;
  margin: 40px;
  box-shadow: 0 5px 15px 5px rgba(0, 0, 0, 0.25);
}

.heart {
  width: 40px;
  height: 40px;
  display: block;
  margin: 0 auto 40px auto;
}
