<title>Contact Us &middot; #smarnold</title>
<link rel="stylesheet" type="text/css" href="/contact-us/style.css">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-44805097-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-44805097-3');
</script>

<body>
  <div class="contact-us-page">
    <div class="contact-us-content">
      <h1 class="page-title">Contact Us</h1>

      <p>Hello you! You can get in touch with us like this:</p>

      <ul class="contact-options">
        <li>
          <div class="method-name">E-Mail:</div> 
          <div class="method-details">sarahmaygould@hotmail.co.uk or jonny.arnold89@gmail.com</div>
        </li>
      </ul>

      <p class="attribution">
        Background: <a class="attribution-link" href="https://www.toptal.com/designers/subtlepatterns/gplay/" target="_blank">CC BY-SA 3.0 license © Toptal Designers</a>.
      </p>
    </div>
  </div>
</body>
