<title>Help Us Out  &middot; #smarnold</title>
<link rel="stylesheet" type="text/css" href="help-us-out/style.css">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-44805097-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-44805097-3');
</script>

<body>
  <div class="help-page">

    <div class="hero">
      <h1 class="hero-title">Help Us Out</h1>
    </div>

    <div class="intro">
      <p>A bunch of people have asked how they can contribute to our wedding plans. In all seriousness, the best contribution you can make is to be there on the day. But if you'd like to help us out a little more, here are a few other ideas!</p>
    </div>

    <div class="help-section">
      <div class="help-section-content">
        <h2>Contribute to our honeymoon fund</h2>

        <p>We're going to Japan for our honeymoon. There's lots of things we'd like to do while we're there, and it would be really lovely if you could help towards the cost of the trip.</p>

        <p>You can check out our plans and contribute <a href="https://www.our-wedding-list.co.uk/gould.arnold.22325" target="_blank">here</a>.</p>
      </div>

      <div class="help-section-image-container">
        <img class="help-section-image" src="/help-us-out/wave.png" />
        <div class="help-section-caption">切手を二枚をください。</div>
      </div>
    </div>

    

    <div class="help-section help-section-left-image">
      <div class="help-section-content">
        <h2>Bake</h2>

        <p>We're not going to have a wedding cake, but you might be aware we are quite into dessert. If you'd like to show off your baking skills (and you're confident you can get your creation to North Hill Farm in one piece!), we'd love it if you could bring something for the dessert table.</p>

        <p>If you are planning to bring something along, let us know when you <a href="/rsvp">RSVP</a> (as we have some allergies to make you aware of!).</p>
      </div>

      <div class="help-section-image-container">
        <img class="help-section-image" src="/help-us-out/gbbo.png" />
        <div class="help-section-caption">Ready, set, bake!</div>
      </div>
    </div>

    <div class="help-section">
      <div class="help-section-content">
        <h2>Take photos</h2>

        <p>Whilst we have a <a href="https://www.martinphelpsweddings.com/" target="_blank">fabulous photographer</a> snapping photos throughout the day, we'd love to see as many photos as possible. That's where you come in!</p>

        <p>If you've got a snazzy camera, please bring it along and take a few snaps; we'll let you know where to drop them off after the big day.</p>
      </div>

      <div class="help-section-image-container">
        <img class="help-section-image" src="/help-us-out/selfie.png" />
        <div class="help-section-caption">Not just selfies, please.</div>
      </div>
    </div>

    <div class="help-section help-section-left-image">
      <div class="help-section-content">
        <h2>Get crafty</h2>

        <p>Hey you, you crafty and talented fellow. We sort of hired a great big marquee without thinking about what to put in it. If you'd like to help us make some decorations, that would be just wonderful.</p>

        <p>If you'd like to get involved, <a href="/contact-us">contact us</a>!</p>
      </div>

      <div class="help-section-image-container">
        <img class="help-section-image" src="/help-us-out/art.png" />
        <div class="help-section-caption">Ooo, crafty.</div>
      </div>
    </div>

  </div>
</body>
