<title>Help Us Out</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<style>

@import "//fonts.googleapis.com/css?family=Sue+Ellen+Francisco";

.help-page {
  background-color: #f9f9f9;
  font-family: "Sue Ellen Francisco", cursive;
  font-size: 16px;
  margin: 0;
  min-width: 320px;
  padding: 0;
  text-align: center;
}

.help-hero {
  background-color: rgba(0, 140, 140, 1);
  color: white;
  margin: 0;
  padding: 40px 20px;
}

.help-section {
  background: url("/placeholder.png") center center;
  background-size: cover;
  margin: 0;
  padding: 10px 20px;
}

.help-section-content {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 10px;
}

</style>

<body class="help-page">

  <div class="help-hero">
    <h1>Help Us Out</h1>

    <p>We obviously don't expect you to buy us anything. Seriously, we mean it - having you at the wedding is fabulous enough as it is.</p>

    <p>However, a bunch of people have asked how they can help out (cheers!). So here are a few ideas for helping us out.</p>
  </div>

  <div class="help-section">
    <div class="help-section-content">
      <h2>Buy a bit of our honeymoon</h2>

      <p>We're going to Japan for our honeymoon. There's lots of things we'd like to do, and we'd love it if you'd like to book a meal, stay or activity for us while we're over there.</p>

      <p>You can check out our plans and contribute <a href="/holiday-wishlist">here</a>.</p>
    </div>
  </div>

  <div class="help-section">
    <div class="help-section-content">
      <h2>Get crafty</h2>

      <p>It's going to be a big ol' marquee, so we'll need a bunch of nice things to fill it. In particular, we'd appreciate it if you'd like to make some bunting for us to hang up around the marquee.</p>

      <p>For more information on what we're looking for, head <a href="/bunting">here</a>.</p>
    </div>
  </div>

  <div class="help-section">
    <div class="help-section-content">
      <h2>Bake</h2>

      <p>We're not going to have a wedding cake, but I'm sure you're not surprised to hear that we're big dessert fans. If you'd like to show off your baking skills (and you can get it to North Hill Farm in one piece!), we'd love it if you'd bring something for the dessert table.</p>

      <p>If you'd like to bring something along, let us know when you <a href="/rsvp">RSVP</a>.</p>
    </div>
  </div>

</body>
