<title>#smarnold</title>
<link rel="stylesheet" type="text/css" href="style.css">
<meta name="viewport" content="width=device-width, initial-scale=1">

<body id="index">

  <div id="info">
    <p class="headline">
      <a href="https://www.facebook.com/sarahmay.gould" target="_blank">Sarah</a> &amp; <a href="https://www.facebook.com/jonny.arnold" target="_blank">Jonny</a> are getting married!
    </p>
    <p class="headline">Saturday 25th August 2018.</p>
    <p class="headline">
      <a href="https://www.northhillfarm.co.uk/" target="_blank">North Hill Farm, Chorleywood.</a>
    </p>
    <p class="headline">It would be just lovely to see you there.</p>
    <p>More details here when we figure out what we're doing.</p>
  </div>

  <video id="selfie_jonny" poster="selfie_jonny_poster.png" autoplay loop muted>
    <source src="selfie_jonny.mp4" type="video/mp4">
  </video>

</body>