<title>Places to Stay &middot; #smarnold</title>
<link rel="stylesheet" type="text/css" href="places-to-stay/style.css" />
<body>
  <div class="places-to-stay-page">
    <svg class="flowchart" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="701px" height="897px" version="1.1">
      <defs/>
      <g transform="translate(0.5,0.5)">
        <path d="M 299 239 L 299 238.72 L 309.2 239.3 L 319.4 239.29 L 329.6 239.63 L 339.8 238.56 L 350 239 L 360.2 238.66 L 370.4 239.15 L 380.6 239.18 L 390.8 238.4 L 401 239 Q 410 239 410 248 L 410.04 248 L 409.88 256.4 L 410.18 264.8 L 410.11 273.2 L 410.08 281.6 L 410 290 Q 410 299 401 299 L 401 299.54 L 390.8 298.49 L 380.6 299.73 L 370.4 299.22 L 360.2 298.57 L 350 298.95 L 339.8 298.27 L 329.6 298.38 L 319.4 298.69 L 309.2 299.74 L 299 299 Q 290 299 290 290 L 289.89 290 L 289.77 281.6 L 289.78 273.2 L 289.79 264.8 L 290.07 256.4 L 290 248 Q 290 239 299 239 L 299 239 Z Z" fill="#2c96d3" stroke="none" pointer-events="none"/>
        <g transform="translate(290.5,255.5)">
          <switch>
            <foreignObject style="overflow:visible;" pointer-events="all" width="118" height="27" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
              <div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 12px; font-family: Courier\ New; color: rgb(255, 255, 255); line-height: 1.2; vertical-align: top; width: 118px; white-space: normal; overflow-wrap: normal; font-weight: bold; text-align: center;">
                <div xmlns="http://www.w3.org/1999/xhtml" style="display:inline-block;text-align:inherit;text-decoration:inherit;">Do you like flowcharts?</div>
              </div>
            </foreignObject>
            <text x="59" y="20" fill="#FFFFFF" text-anchor="middle" font-size="12px" font-family="Courier New" font-weight="bold">Do you like flowcharts?</text>
          </switch>
        </g>
        <a href="http://northhillcamping.co.uk/" target="_blank" class="flowchart-link">
          <path d="M 299 836 L 299 835.61 L 309.2 836.72 L 319.4 836.12 L 329.6 835.54 L 339.8 835.46 L 350 836.37 L 360.2 835.45 L 370.4 835.33 L 380.6 835.94 L 390.8 835.58 L 401 836 Q 410 836 410 845 L 410.06 845 L 410.05 853.4 L 409.87 861.8 L 410.09 870.2 L 410.1 878.6 L 410 887 Q 410 896 401 896 L 401 895.52 L 390.8 896.55 L 380.6 895.96 L 370.4 895.68 L 360.2 896.04 L 350 896.06 L 339.8 895.51 L 329.6 896.4 L 319.4 895.7 L 309.2 896.21 L 299 896 Q 290 896 290 887 L 290.18 887 L 290.01 878.6 L 290.11 870.2 L 290.15 861.8 L 289.78 853.4 L 290 845 Q 290 836 299 836 L 299 836 Z Z" fill="#ffd966" stroke="none"/>
          <g transform="translate(297.5,852.5)">
            <switch>
              <foreignObject style="overflow:visible;" pointer-events="all" width="105" height="27" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
                <div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 12px; font-family: Courier\ New; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; width: 106px; white-space: nowrap; overflow-wrap: normal; font-weight: bold; text-align: center;">
                  <div xmlns="http://www.w3.org/1999/xhtml" style="display:inline-block;text-align:inherit;text-decoration:inherit;">Camping @
                    <br />North Hill Farm
                  </div>
                </div>
              </foreignObject>
              <text x="53" y="20" fill="#000000" text-anchor="middle" font-size="12px" font-family="Courier New" font-weight="bold">Camping @&lt;br&gt;North Hill Farm</text>
            </switch>
          </g>
        </a>
        <a href="https://www.phcompany.com/de-vere/latimer-estate/" target="_blank" class="flowchart-link">
          <path d="M 59 439 L 59 438.26 L 69.2 439.69 L 79.4 439.32 L 89.6 438.92 L 99.8 439.05 L 110 439.7 L 120.2 439.31 L 130.4 438.49 L 140.6 439.31 L 150.8 438.55 L 161 439 Q 170 439 170 448 L 170.08 448 L 170.18 456.4 L 170.06 464.8 L 170.06 473.2 L 170.07 481.6 L 170 490 Q 170 499 161 499 L 161 499.36 L 150.8 498.63 L 140.6 498.69 L 130.4 498.46 L 120.2 498.69 L 110 498.32 L 99.8 498.56 L 89.6 498.53 L 79.4 498.64 L 69.2 499.02 L 59 499 Q 50 499 50 490 L 50.05 490 L 50.24 481.6 L 50.01 473.2 L 50.12 464.8 L 50.03 456.4 L 50 448 Q 50 439 59 439 L 59 439 Z Z" fill="#ffd966" stroke="none"/>
          <g transform="translate(57.5,462.5)">
            <switch>
              <foreignObject style="overflow:visible;" pointer-events="all" width="105" height="12" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
                <div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 12px; font-family: Courier\ New; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; width: 106px; white-space: nowrap; overflow-wrap: normal; font-weight: bold; text-align: center;">
                  <div xmlns="http://www.w3.org/1999/xhtml" style="display:inline-block;text-align:inherit;text-decoration:inherit;">De Vere Latimer</div>
                </div>
              </foreignObject>
              <text x="53" y="12" fill="#000000" text-anchor="middle" font-size="12px" font-family="Courier New" font-weight="bold">De Vere Latimer</text>
            </switch>
          </g>
        </a>
        <a href="https://www.premierinn.com/gb/en/hotels/england/hertfordshire/watford/watford-croxley-green.html?cid=GLBC_WATBRE" target="_blank" class="flowchart-link">
          <path d="M 59 634 L 59 633.7 L 69.2 634.35 L 79.4 634.41 L 89.6 634.38 L 99.8 634.21 L 110 634.59 L 120.2 633.29 L 130.4 634.55 L 140.6 634.13 L 150.8 633.93 L 161 634 Q 170 634 170 643 L 170.2 643 L 170 651.4 L 170.19 659.8 L 170.19 668.2 L 169.93 676.6 L 170 685 Q 170 694 161 694 L 161 694.4 L 150.8 693.65 L 140.6 693.51 L 130.4 693.53 L 120.2 693.88 L 110 694.73 L 99.8 693.52 L 89.6 693.35 L 79.4 694.25 L 69.2 693.45 L 59 694 Q 50 694 50 685 L 49.77 685 L 49.97 676.6 L 50.13 668.2 L 49.91 659.8 L 50.13 651.4 L 50 643 Q 50 634 59 634 L 59 634 Z Z" fill="#ffd966" stroke="none"/>
          <g transform="translate(71.5,657.5)">
            <switch>
              <foreignObject style="overflow:visible;" pointer-events="all" width="77" height="12" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
                <div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 12px; font-family: Courier\ New; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; width: 78px; white-space: nowrap; overflow-wrap: normal; font-weight: bold; text-align: center;">
                  <div xmlns="http://www.w3.org/1999/xhtml" style="display:inline-block;text-align:inherit;text-decoration:inherit;">Premier Inn</div>
                </div>
              </foreignObject>
              <text x="39" y="12" fill="#000000" text-anchor="middle" font-size="12px" font-family="Courier New" font-weight="bold">Premier Inn</text>
            </switch>
          </g>
        </a>
        <a href="http://www.bedfordarms.co.uk/" target="_blank" class="flowchart-link">
          <path d="M 539 836 L 539 836.18 L 549.2 835.91 L 559.4 836.24 L 569.6 836.6 L 579.8 836.38 L 590 836.43 L 600.2 835.3 L 610.4 836.75 L 620.6 835.7 L 630.8 836.26 L 641 836 Q 650 836 650 845 L 650.22 845 L 650.01 853.4 L 650.04 861.8 L 649.76 870.2 L 649.92 878.6 L 650 887 Q 650 896 641 896 L 641 895.33 L 630.8 895.29 L 620.6 896.22 L 610.4 896.41 L 600.2 896.55 L 590 896.56 L 579.8 896.71 L 569.6 895.32 L 559.4 896.7 L 549.2 895.56 L 539 896 Q 530 896 530 887 L 529.89 887 L 529.97 878.6 L 530.1 870.2 L 530.17 861.8 L 529.93 853.4 L 530 845 Q 530 836 539 836 L 539 836 Z Z" fill="#ffd966" stroke="none"/>
          <g transform="translate(547.5,859.5)">
            <switch>
              <foreignObject style="overflow:visible;" pointer-events="all" width="84" height="12" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
                <div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 12px; font-family: Courier\ New; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; width: 85px; white-space: nowrap; overflow-wrap: normal; font-weight: bold; text-align: center;">
                  <div xmlns="http://www.w3.org/1999/xhtml" style="display:inline-block;text-align:inherit;text-decoration:inherit;">Bedford Arms</div>
                </div>
              </foreignObject>
              <text x="42" y="12" fill="#000000" text-anchor="middle" font-size="12px" font-family="Courier New" font-weight="bold">Bedford Arms</text>
            </switch>
          </g>
        </a>
        <a href="http://www.glampingglamping.co.uk/" target="_blank" class="flowchart-link">
          <path d="M 59 836 L 59 836.19 L 69.2 836.68 L 79.4 836.09 L 89.6 835.4 L 99.8 835.75 L 110 835.9 L 120.2 836.66 L 130.4 836.1 L 140.6 836.07 L 150.8 835.33 L 161 836 Q 170 836 170 845 L 170.1 845 L 170.03 853.4 L 169.93 861.8 L 169.77 870.2 L 169.91 878.6 L 170 887 Q 170 896 161 896 L 161 895.89 L 150.8 895.83 L 140.6 895.84 L 130.4 896.21 L 120.2 896.02 L 110 895.83 L 99.8 896.49 L 89.6 895.51 L 79.4 895.49 L 69.2 896.03 L 59 896 Q 50 896 50 887 L 49.94 887 L 49.81 878.6 L 50.24 870.2 L 49.97 861.8 L 50.15 853.4 L 50 845 Q 50 836 59 836 L 59 836 Z Z" fill="#ffd966" stroke="none"/>
          <g transform="translate(57.5,852.5)">
            <switch>
              <foreignObject style="overflow:visible;" pointer-events="all" width="105" height="27" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
                <div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 12px; font-family: Courier\ New; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; width: 106px; white-space: nowrap; overflow-wrap: normal; font-weight: bold; text-align: center;">
                  <div xmlns="http://www.w3.org/1999/xhtml" style="display:inline-block;text-align:inherit;text-decoration:inherit;">Glamping @
                    <br />North Hill Farm
                  </div>
                </div>
              </foreignObject>
              <text x="53" y="20" fill="#000000" text-anchor="middle" font-size="12px" font-family="Courier New" font-weight="bold">Glamping @&lt;br&gt;North Hill Farm</text>
            </switch>
          </g>
        </a>
        <a href="https://www.google.co.uk/maps/search/Your+Mate's+House/@51.5044906,-0.0351957,14z?hl=en" target="_blank" class="flowchart-link">
          <path d="M 59 236 L 59 235.55 L 69.2 236.45 L 79.4 235.29 L 89.6 236.25 L 99.8 235.59 L 110 235.33 L 120.2 235.32 L 130.4 236.67 L 140.6 235.62 L 150.8 236.1 L 161 236 Q 170 236 170 245 L 169.79 245 L 169.98 253.4 L 169.93 261.8 L 169.97 270.2 L 170.11 278.6 L 170 287 Q 170 296 161 296 L 161 296.52 L 150.8 296.12 L 140.6 295.35 L 130.4 295.27 L 120.2 296.52 L 110 296.1 L 99.8 295.28 L 89.6 295.49 L 79.4 295.59 L 69.2 296.04 L 59 296 Q 50 296 50 287 L 49.99 287 L 49.82 278.6 L 50.15 270.2 L 50.1 261.8 L 50 253.4 L 50 245 Q 50 236 59 236 L 59 236 Z Z" fill="#ffd966" stroke="none"/>
          <g transform="translate(50.5,252.5)">
            <switch>
              <foreignObject style="overflow:visible;" pointer-events="all" width="118" height="27" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
                <div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 12px; font-family: Courier\ New; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; width: 118px; white-space: normal; overflow-wrap: normal; font-weight: bold; text-align: center;">
                  <div xmlns="http://www.w3.org/1999/xhtml" style="display:inline-block;text-align:inherit;text-decoration:inherit;">Your mate's house</div>
                </div>
              </foreignObject>
              <text x="59" y="20" fill="#000000" text-anchor="middle" font-size="12px" font-family="Courier New" font-weight="bold">Your mate's house</text>
            </switch>
          </g>
        </a>
        <path d="M 539 239 L 539 238.82 L 549.2 239.28 L 559.4 239.14 L 569.6 238.35 L 579.8 238.49 L 590 239.48 L 600.2 238.37 L 610.4 239.49 L 620.6 239.62 L 630.8 239.7 L 641 239 Q 650 239 650 248 L 649.91 248 L 649.85 256.4 L 650.25 264.8 L 650.08 273.2 L 649.79 281.6 L 650 290 Q 650 299 641 299 L 641 298.88 L 630.8 299.2 L 620.6 298.33 L 610.4 299.05 L 600.2 298.39 L 590 298.73 L 579.8 298.7 L 569.6 299.66 L 559.4 298.71 L 549.2 298.7 L 539 299 Q 530 299 530 290 L 529.94 290 L 529.76 281.6 L 529.93 273.2 L 529.89 264.8 L 529.91 256.4 L 530 248 Q 530 239 539 239 L 539 239 Z Z" fill="#2c96d3" stroke="none"/>
        <g transform="translate(568.5,262.5)">
          <switch>
            <foreignObject style="overflow:visible;" pointer-events="all" width="42" height="12" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
              <div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 12px; font-family: Courier\ New; color: rgb(255, 255, 255); line-height: 1.2; vertical-align: top; width: 43px; white-space: nowrap; overflow-wrap: normal; font-weight: bold; text-align: center;">
                <div xmlns="http://www.w3.org/1999/xhtml" style="display:inline-block;text-align:inherit;text-decoration:inherit;">Tough.</div>
              </div>
            </foreignObject>
            <text x="21" y="12" fill="#FFFFFF" text-anchor="middle" font-size="12px" font-family="Courier New" font-weight="bold">Tough.</text>
          </switch>
        </g>
        <path d="M 299 339 L 299 339.23 L 309.2 338.63 L 319.4 338.25 L 329.6 338.74 L 339.8 338.8 L 350 339.37 L 360.2 339.63 L 370.4 338.53 L 380.6 339.06 L 390.8 339.52 L 401 339 Q 410 339 410 348 L 410.16 348 L 410.18 356.4 L 410.15 364.8 L 409.97 373.2 L 410.24 381.6 L 410 390 Q 410 399 401 399 L 401 398.99 L 390.8 398.47 L 380.6 399.36 L 370.4 398.39 L 360.2 398.61 L 350 398.89 L 339.8 399.53 L 329.6 398.85 L 319.4 399.38 L 309.2 398.78 L 299 399 Q 290 399 290 390 L 289.84 390 L 289.92 381.6 L 289.99 373.2 L 289.93 364.8 L 290.21 356.4 L 290 348 Q 290 339 299 339 L 299 339 Z Z" fill="#2c96d3" stroke="none"/>
        <g transform="translate(290.5,348.5)">
          <switch>
            <foreignObject style="overflow:visible;" pointer-events="all" width="118" height="41" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
              <div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 12px; font-family: Courier\ New; color: rgb(255, 255, 255); line-height: 1.2; vertical-align: top; width: 118px; white-space: normal; overflow-wrap: normal; font-weight: bold; text-align: center;">
                <div xmlns="http://www.w3.org/1999/xhtml" style="display:inline-block;text-align:inherit;text-decoration:inherit;">Do you have a mate who lives nearby?</div>
              </div>
            </foreignObject>
            <text x="59" y="27" fill="#FFFFFF" text-anchor="middle" font-size="12px" font-family="Courier New" font-weight="bold">Do you have a mate who lives nearby?</text>
          </switch>
        </g>
        <path d="M 299 439 L 299 438.79 L 309.2 438.26 L 319.4 439.34 L 329.6 438.75 L 339.8 439.37 L 350 439.13 L 360.2 438.97 L 370.4 438.85 L 380.6 439.33 L 390.8 439.74 L 401 439 Q 410 439 410 448 L 409.8 448 L 410.07 456.4 L 410.13 464.8 L 410.18 473.2 L 409.85 481.6 L 410 490 Q 410 499 401 499 L 401 499.48 L 390.8 499.24 L 380.6 498.98 L 370.4 498.28 L 360.2 498.62 L 350 499.34 L 339.8 499.37 L 329.6 498.31 L 319.4 499.65 L 309.2 498.66 L 299 499 Q 290 499 290 490 L 289.89 490 L 290.19 481.6 L 289.94 473.2 L 290.01 464.8 L 289.88 456.4 L 290 448 Q 290 439 299 439 L 299 439 Z Z" fill="#2c96d3" stroke="none"/>
        <g transform="translate(290.5,455.5)">
          <switch>
            <foreignObject style="overflow:visible;" pointer-events="all" width="118" height="27" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
              <div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 12px; font-family: Courier\ New; color: rgb(255, 255, 255); line-height: 1.2; vertical-align: top; width: 118px; white-space: normal; overflow-wrap: normal; font-weight: bold; text-align: center;">
                <div xmlns="http://www.w3.org/1999/xhtml" style="display:inline-block;text-align:inherit;text-decoration:inherit;">Do you like golf?</div>
              </div>
            </foreignObject>
            <text x="59" y="20" fill="#FFFFFF" text-anchor="middle" font-size="12px" font-family="Courier New" font-weight="bold">Do you like golf?</text>
          </switch>
        </g>
        <a href="https://www.thegrove.co.uk/" target="_blank" class="flowchart-link">
          <path d="M 539 339 L 539 338.38 L 549.2 339.59 L 559.4 338.89 L 569.6 339.07 L 579.8 339.66 L 590 338.77 L 600.2 338.31 L 610.4 338.5 L 620.6 338.63 L 630.8 338.88 L 641 339 Q 650 339 650 348 L 649.79 348 L 649.91 356.4 L 650.01 364.8 L 650.14 373.2 L 649.93 381.6 L 650 390 Q 650 399 641 399 L 641 399.62 L 630.8 398.5 L 620.6 399.2 L 610.4 398.69 L 600.2 399.72 L 590 398.57 L 579.8 399.48 L 569.6 399.04 L 559.4 398.88 L 549.2 398.58 L 539 399 Q 530 399 530 390 L 529.8 390 L 530.13 381.6 L 530.17 373.2 L 529.83 364.8 L 529.87 356.4 L 530 348 Q 530 339 539 339 L 539 339 Z Z" fill="#ffd966" stroke="none"/>
          <g transform="translate(558.5,362.5)">
            <switch>
              <foreignObject style="overflow:visible;" pointer-events="all" width="63" height="12" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
                <div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 12px; font-family: Courier\ New; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; width: 64px; white-space: nowrap; overflow-wrap: normal; font-weight: bold; text-align: center;">
                  <div xmlns="http://www.w3.org/1999/xhtml" style="display:inline-block;text-align:inherit;text-decoration:inherit;">The Grove</div>
                </div>
              </foreignObject>
              <text x="32" y="12" fill="#000000" text-anchor="middle" font-size="12px" font-family="Courier New" font-weight="bold">The Grove</text>
            </switch>
          </g>
        </a>
        <a href="https://www.bestwestern.co.uk/hotels/best-western-white-house-hotel-83770" target="_blank" class="flowchart-link">
          <path d="M 539 539 L 539 538.36 L 549.2 539.19 L 559.4 538.98 L 569.6 539.66 L 579.8 539.53 L 590 538.56 L 600.2 539.57 L 610.4 538.81 L 620.6 539.58 L 630.8 538.86 L 641 539 Q 650 539 650 548 L 649.96 548 L 649.83 556.4 L 650.25 564.8 L 649.85 573.2 L 649.79 581.6 L 650 590 Q 650 599 641 599 L 641 598.94 L 630.8 598.35 L 620.6 598.39 L 610.4 598.46 L 600.2 599.12 L 590 599.58 L 579.8 599.06 L 569.6 598.29 L 559.4 598.28 L 549.2 598.7 L 539 599 Q 530 599 530 590 L 530.22 590 L 530.1 581.6 L 529.82 573.2 L 529.93 564.8 L 529.99 556.4 L 530 548 Q 530 539 539 539 L 539 539 Z Z" fill="#ffd966" stroke="none"/>
          <g transform="translate(530.5,548.5)">
            <switch>
              <foreignObject style="overflow:visible;" pointer-events="all" width="118" height="41" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
                <div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 12px; font-family: Courier\ New; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; width: 118px; white-space: normal; overflow-wrap: normal; font-weight: bold; text-align: center;">
                  <div xmlns="http://www.w3.org/1999/xhtml" style="display:inline-block;text-align:inherit;text-decoration:inherit;">Best Western
                    <br />White House Hotel
                  </div>
                </div>
              </foreignObject>
              <text x="59" y="27" fill="#000000" text-anchor="middle" font-size="12px" font-family="Courier New" font-weight="bold">Best Western &lt;br&gt;White House Hotel</text>
            </switch>
          </g>
        </a>
        <a href="http://www.kingslodge.uk.com/" target="_blank" class="flowchart-link">
          <path d="M 539 634 L 539 633.35 L 549.2 634.71 L 559.4 634.03 L 569.6 633.43 L 579.8 634.05 L 590 633.41 L 600.2 633.41 L 610.4 633.59 L 620.6 634.42 L 630.8 633.29 L 641 634 Q 650 634 650 643 L 650.13 643 L 649.84 651.4 L 649.92 659.8 L 650.07 668.2 L 649.89 676.6 L 650 685 Q 650 694 641 694 L 641 694.14 L 630.8 693.5 L 620.6 693.68 L 610.4 693.6 L 600.2 694.7 L 590 693.65 L 579.8 693.68 L 569.6 694.69 L 559.4 693.35 L 549.2 694.43 L 539 694 Q 530 694 530 685 L 530.15 685 L 529.83 676.6 L 530.17 668.2 L 529.84 659.8 L 529.78 651.4 L 530 643 Q 530 634 539 634 L 539 634 Z Z" fill="#ffd966" stroke="none"/>
          <g transform="translate(537.5,657.5)">
            <switch>
              <foreignObject style="overflow:visible;" pointer-events="all" width="105" height="12" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
                <div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 12px; font-family: Courier\ New; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; width: 106px; white-space: nowrap; overflow-wrap: normal; font-weight: bold; text-align: center;">
                  <div xmlns="http://www.w3.org/1999/xhtml" style="display:inline-block;text-align:inherit;text-decoration:inherit;">The Kings Lodge</div>
                </div>
              </foreignObject>
              <text x="53" y="12" fill="#000000" text-anchor="middle" font-size="12px" font-family="Courier New" font-weight="bold">The Kings Lodge</text>
            </switch>
          </g>
        </a>
        <path d="M 299 634 L 299 633.43 L 309.2 633.29 L 319.4 634.17 L 329.6 634.17 L 339.8 633.28 L 350 634.65 L 360.2 633.61 L 370.4 633.92 L 380.6 633.3 L 390.8 634.08 L 401 634 Q 410 634 410 643 L 409.82 643 L 409.83 651.4 L 409.83 659.8 L 409.92 668.2 L 410.02 676.6 L 410 685 Q 410 694 401 694 L 401 693.64 L 390.8 693.61 L 380.6 694.26 L 370.4 694.39 L 360.2 693.45 L 350 693.97 L 339.8 693.29 L 329.6 694.08 L 319.4 693.92 L 309.2 693.66 L 299 694 Q 290 694 290 685 L 290.04 685 L 290.23 676.6 L 290.25 668.2 L 290.16 659.8 L 289.93 651.4 L 290 643 Q 290 634 299 634 L 299 634 Z Z" fill="#2c96d3" stroke="none"/>
        <g transform="translate(297.5,650.5)">
          <switch>
            <foreignObject style="overflow:visible;" pointer-events="all" width="105" height="27" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
              <div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 12px; font-family: Courier\ New; color: rgb(255, 255, 255); line-height: 1.2; vertical-align: top; width: 106px; white-space: nowrap; overflow-wrap: normal; font-weight: bold; text-align: center;">
                <div xmlns="http://www.w3.org/1999/xhtml" style="display:inline-block;text-align:inherit;text-decoration:inherit;">Do you want to
                  <br />sleep in a pub?
                </div>
              </div>
            </foreignObject>
            <text x="53" y="20" fill="#FFFFFF" text-anchor="middle" font-size="12px" font-family="Courier New" font-weight="bold">Do you want to&lt;br&gt;sleep in a pub?</text>
          </switch>
        </g>
        <path d="M 59 741 L 59 740.84 L 69.2 741.53 L 79.4 740.44 L 89.6 740.63 L 99.8 741.66 L 110 740.83 L 120.2 741.74 L 130.4 740.32 L 140.6 740.51 L 150.8 741.61 L 161 741 Q 170 741 170 750 L 170.21 750 L 169.79 758.4 L 169.91 766.8 L 170.2 775.2 L 170 783.6 L 170 792 Q 170 801 161 801 L 161 801.18 L 150.8 801.04 L 140.6 800.55 L 130.4 800.5 L 120.2 800.81 L 110 800.61 L 99.8 801.53 L 89.6 800.37 L 79.4 800.85 L 69.2 801.29 L 59 801 Q 50 801 50 792 L 50.22 792 L 49.9 783.6 L 49.92 775.2 L 50.1 766.8 L 50.22 758.4 L 50 750 Q 50 741 59 741 L 59 741 Z Z" fill="#2c96d3" stroke="none"/>
        <g transform="translate(50.5,757.5)">
          <switch>
            <foreignObject style="overflow:visible;" pointer-events="all" width="118" height="27" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
              <div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 12px; font-family: Courier\ New; color: rgb(255, 255, 255); line-height: 1.2; vertical-align: top; width: 118px; white-space: normal; overflow-wrap: normal; font-weight: bold; text-align: center;">
                <div xmlns="http://www.w3.org/1999/xhtml" style="display:inline-block;text-align:inherit;text-decoration:inherit;">How do you like your camping?</div>
              </div>
            </foreignObject>
            <text x="59" y="20" fill="#FFFFFF" text-anchor="middle" font-size="12px" font-family="Courier New" font-weight="bold">How do you like your camping?</text>
          </switch>
        </g>
        <path d="M 50 771 L 30 771 L 30 821 L 190 821 L 190 866 L 176.37 866" fill="none" stroke="#000000" stroke-miterlimit="10"/>
        <path d="M 171.12 866 L 178.12 862.5 L 176.37 866 L 178.12 869.5 Z" fill="#000000" stroke="#000000" stroke-miterlimit="10"/>
        <g transform="translate(49.5,814.5)">
          <switch>
            <foreignObject style="overflow:visible;" pointer-events="all" width="119" height="12" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
              <div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 12px; font-family: Courier\ New; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; white-space: nowrap; font-weight: bold; text-align: center;">
                <div xmlns="http://www.w3.org/1999/xhtml" style="display:inline-block;text-align:inherit;text-decoration:inherit;background-color:#ffffff;">Grilled Camembert</div>
              </div>
            </foreignObject>
            <text x="60" y="12" fill="#000000" text-anchor="middle" font-size="12px" font-family="Courier New" font-weight="bold">Grilled Camembert</text>
          </switch>
        </g>
        <path d="M 170 771 L 350 771 L 350 829.63" fill="none" stroke="#000000" stroke-miterlimit="10"/>
        <path d="M 350 834.88 L 346.5 827.88 L 350 829.63 L 353.5 827.88 Z" fill="#000000" stroke="#000000" stroke-miterlimit="10"/>
        <g transform="translate(210.5,765.5)">
          <switch>
            <foreignObject style="overflow:visible;" pointer-events="all" width="77" height="12" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
              <div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 12px; font-family: Courier\ New; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; white-space: nowrap; font-weight: bold; text-align: center;">
                <div xmlns="http://www.w3.org/1999/xhtml" style="display:inline-block;text-align:inherit;text-decoration:inherit;background-color:#ffffff;">Bear Grylls</div>
              </div>
            </foreignObject>
            <text x="39" y="12" fill="#000000" text-anchor="middle" font-size="12px" font-family="Courier New" font-weight="bold">Bear Grylls</text>
          </switch>
        </g>
        <path d="M 410 269 L 523.63 269" fill="none" stroke="#000000" stroke-miterlimit="10"/>
        <path d="M 528.88 269 L 521.88 272.5 L 523.63 269 L 521.88 265.5 Z" fill="#000000" stroke="#000000" stroke-miterlimit="10"/>
        <g transform="translate(455.5,263.5)">
          <switch>
            <foreignObject style="overflow:visible;" pointer-events="all" width="21" height="12" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
              <div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 12px; font-family: Courier\ New; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; white-space: nowrap; font-weight: bold; text-align: center;">
                <div xmlns="http://www.w3.org/1999/xhtml" style="display:inline-block;text-align:inherit;text-decoration:inherit;background-color:#ffffff;">No.</div>
              </div>
            </foreignObject>
            <text x="11" y="12" fill="#000000" text-anchor="middle" font-size="12px" font-family="Courier New" font-weight="bold">No.</text>
          </switch>
        </g>
        <path d="M 590 299 L 590 319 L 380 319 L 380 332.63" fill="none" stroke="#000000" stroke-miterlimit="10"/>
        <path d="M 380 337.88 L 376.5 330.88 L 380 332.63 L 383.5 330.88 Z" fill="#000000" stroke="#000000" stroke-miterlimit="10"/>
        <g transform="translate(456.5,314.5)">
          <switch>
            <foreignObject style="overflow:visible;" pointer-events="all" width="21" height="12" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
              <div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 12px; font-family: Courier\ New; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; white-space: nowrap; font-weight: bold; text-align: center;">
                <div xmlns="http://www.w3.org/1999/xhtml" style="display:inline-block;text-align:inherit;text-decoration:inherit;background-color:#ffffff;">Oh.</div>
              </div>
            </foreignObject>
            <text x="11" y="12" fill="#000000" text-anchor="middle" font-size="12px" font-family="Courier New" font-weight="bold">Oh.</text>
          </switch>
        </g>
        <path d="M 320 299 L 320 332.63" fill="none" stroke="#000000" stroke-miterlimit="10"/>
        <path d="M 320 337.88 L 316.5 330.88 L 320 332.63 L 323.5 330.88 Z" fill="#000000" stroke="#000000" stroke-miterlimit="10"/>
        <g transform="translate(303.5,312.5)">
          <switch>
            <foreignObject style="overflow:visible;" pointer-events="all" width="28" height="12" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
              <div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 12px; font-family: Courier\ New; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; white-space: nowrap; font-weight: bold; text-align: center;">
                <div xmlns="http://www.w3.org/1999/xhtml" style="display:inline-block;text-align:inherit;text-decoration:inherit;background-color:#ffffff;">Yes!</div>
              </div>
            </foreignObject>
            <text x="14" y="12" fill="#000000" text-anchor="middle" font-size="12px" font-family="Courier New" font-weight="bold">Yes!</text>
          </switch>
        </g>
        <path d="M 320 136 L 320 136.61 L 330 135.5 L 340 135.62 L 350 136.1 L 360 135.59 L 370 136.63 L 380 136 Q 410 136 410 166 L 410 166 Q 410 196 380 196 L 380 196.3 L 370 196.17 L 360 195.7 L 350 195.79 L 340 196.36 L 330 195.5 L 320 196 Q 290 196 290 166 L 290 166 Q 290 136 320 136 L 320 136 Z Z" fill="#ff0080" stroke="none"/>
        <g transform="translate(307.5,152.5)">
          <switch>
            <foreignObject style="overflow:visible;" pointer-events="all" width="84" height="27" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
              <div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 12px; font-family: Courier\ New; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; width: 85px; white-space: nowrap; overflow-wrap: normal; text-align: center;">
                <div xmlns="http://www.w3.org/1999/xhtml" style="display:inline-block;text-align:inherit;text-decoration:inherit;">
                  <b>
                    <font color="#FFFFFF">Where should
                      <br />I stay?!
                    </font>
                  </b>
                </div>
              </div>
            </foreignObject>
            <text x="42" y="20" fill="#000000" text-anchor="middle" font-size="12px" font-family="Courier New">[Not supported by viewer]</text>
          </switch>
        </g>
        <path d="M 350 196 L 350 232.63" fill="none" stroke="#000000" stroke-miterlimit="10"/>
        <path d="M 350 237.88 L 346.5 230.88 L 350 232.63 L 353.5 230.88 Z" fill="#000000" stroke="#000000" stroke-miterlimit="10"/>
        <path d="M 290 369 L 110 369 L 110 302.37" fill="none" stroke="#000000" stroke-miterlimit="10"/>
        <path d="M 110 297.12 L 113.5 304.12 L 110 302.37 L 106.5 304.12 Z" fill="#000000" stroke="#000000" stroke-miterlimit="10"/>
        <g transform="translate(170.5,362.5)">
          <switch>
            <foreignObject style="overflow:visible;" pointer-events="all" width="70" height="12" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
              <div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 12px; font-family: Courier\ New; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; white-space: nowrap; font-weight: bold; text-align: center;">
                <div xmlns="http://www.w3.org/1999/xhtml" style="display:inline-block;text-align:inherit;text-decoration:inherit;background-color:#ffffff;">
                  <font style="font-size: 12px">Oh yeah...</font>
                </div>
              </div>
            </foreignObject>
            <text x="35" y="12" fill="#000000" text-anchor="middle" font-size="12px" font-family="Courier New" font-weight="bold">[Not supported by viewer]</text>
          </switch>
        </g>
        <path d="M 350 399 L 350 432.63" fill="none" stroke="#000000" stroke-miterlimit="10"/>
        <path d="M 350 437.88 L 346.5 430.88 L 350 432.63 L 353.5 430.88 Z" fill="#000000" stroke="#000000" stroke-miterlimit="10"/>
        <g transform="translate(334.5,410.5)">
          <switch>
            <foreignObject style="overflow:visible;" pointer-events="all" width="28" height="12" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
              <div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 12px; font-family: Courier\ New; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; white-space: nowrap; font-weight: bold; text-align: center;">
                <div xmlns="http://www.w3.org/1999/xhtml" style="display:inline-block;text-align:inherit;text-decoration:inherit;background-color:#ffffff;">Nope</div>
              </div>
            </foreignObject>
            <text x="14" y="12" fill="#000000" text-anchor="middle" font-size="12px" font-family="Courier New" font-weight="bold">Nope</text>
          </switch>
        </g>
        <path d="M 299 539 L 299 538.69 L 309.2 538.99 L 319.4 539.36 L 329.6 539.02 L 339.8 539.43 L 350 539.12 L 360.2 538.98 L 370.4 539.63 L 380.6 538.43 L 390.8 538.45 L 401 539 Q 410 539 410 548 L 409.99 548 L 410.07 556.4 L 410.13 564.8 L 410.04 573.2 L 410.21 581.6 L 410 590 Q 410 599 401 599 L 401 598.88 L 390.8 598.92 L 380.6 598.62 L 370.4 598.62 L 360.2 598.43 L 350 598.35 L 339.8 598.72 L 329.6 599.16 L 319.4 598.28 L 309.2 599.28 L 299 599 Q 290 599 290 590 L 289.83 590 L 289.99 581.6 L 289.94 573.2 L 289.96 564.8 L 289.97 556.4 L 290 548 Q 290 539 299 539 L 299 539 Z Z" fill="#2c96d3" stroke="none"/>
        <g transform="translate(297.5,555.5)">
          <switch>
            <foreignObject style="overflow:visible;" pointer-events="all" width="105" height="27" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
              <div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 12px; font-family: Courier\ New; color: rgb(255, 255, 255); line-height: 1.2; vertical-align: top; width: 106px; white-space: nowrap; overflow-wrap: normal; font-weight: bold; text-align: center;">
                <div xmlns="http://www.w3.org/1999/xhtml" style="display:inline-block;text-align:inherit;text-decoration:inherit;">How many rooms
                  <br />do you require?
                </div>
              </div>
            </foreignObject>
            <text x="53" y="20" fill="#FFFFFF" text-anchor="middle" font-size="12px" font-family="Courier New" font-weight="bold">How many rooms&lt;br&gt;do you require?</text>
          </switch>
        </g>
        <path d="M 350 499 L 350 532.63" fill="none" stroke="#000000" stroke-miterlimit="10"/>
        <path d="M 350 537.88 L 346.5 530.88 L 350 532.63 L 353.5 530.88 Z" fill="#000000" stroke="#000000" stroke-miterlimit="10"/>
        <g transform="translate(339.5,512.5)">
          <switch>
            <foreignObject style="overflow:visible;" pointer-events="all" width="21" height="12" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
              <div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 12px; font-family: Courier\ New; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; white-space: nowrap; font-weight: bold; text-align: center;">
                <div xmlns="http://www.w3.org/1999/xhtml" style="display:inline-block;text-align:inherit;text-decoration:inherit;background-color:#ffffff;">
                  <font style="font-size: 12px">Naa</font>
                </div>
              </div>
            </foreignObject>
            <text x="11" y="12" fill="#000000" text-anchor="middle" font-size="12px" font-family="Courier New" font-weight="bold">[Not supported by viewer]</text>
          </switch>
        </g>
        <path d="M 539 439 L 539 438.98 L 549.2 439.51 L 559.4 438.38 L 569.6 439.09 L 579.8 439.47 L 590 439.33 L 600.2 438.74 L 610.4 438.88 L 620.6 438.99 L 630.8 439.05 L 641 439 Q 650 439 650 448 L 650.13 448 L 650.19 456.4 L 649.89 464.8 L 649.91 473.2 L 649.87 481.6 L 650 490 Q 650 499 641 499 L 641 498.47 L 630.8 499.46 L 620.6 499.34 L 610.4 498.99 L 600.2 499.39 L 590 498.76 L 579.8 499.51 L 569.6 498.31 L 559.4 498.81 L 549.2 498.81 L 539 499 Q 530 499 530 490 L 530.17 490 L 530 481.6 L 529.91 473.2 L 529.95 464.8 L 529.82 456.4 L 530 448 Q 530 439 539 439 L 539 439 Z Z" fill="#2c96d3" stroke="none"/>
        <g transform="translate(540.5,455.5)">
          <switch>
            <foreignObject style="overflow:visible;" pointer-events="all" width="98" height="27" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
              <div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 12px; font-family: Courier\ New; color: rgb(255, 255, 255); line-height: 1.2; vertical-align: top; width: 99px; white-space: nowrap; overflow-wrap: normal; font-weight: bold; text-align: center;">
                <div xmlns="http://www.w3.org/1999/xhtml" style="display:inline-block;text-align:inherit;text-decoration:inherit;">What frills do
                  <br />
                  <div>you require?</div>
                </div>
              </div>
            </foreignObject>
            <text x="49" y="20" fill="#FFFFFF" text-anchor="middle" font-size="12px" font-family="Courier New" font-weight="bold">[Not supported by viewer]</text>
          </switch>
        </g>
        <path d="M 410 469 L 523.63 469" fill="none" stroke="#000000" stroke-miterlimit="10"/>
        <path d="M 528.88 469 L 521.88 472.5 L 523.63 469 L 521.88 465.5 Z" fill="#000000" stroke="#000000" stroke-miterlimit="10"/>
        <g transform="translate(424.5,462.5)">
          <switch>
            <foreignObject style="overflow:visible;" pointer-events="all" width="91" height="12" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
              <div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 12px; font-family: Courier\ New; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; white-space: nowrap; font-weight: bold; text-align: center;">
                <div xmlns="http://www.w3.org/1999/xhtml" style="display:inline-block;text-align:inherit;text-decoration:inherit;background-color:#ffffff;">
                  <font style="font-size: 12px">Call me Tiger
                    <br />
                  </font>
                </div>
              </div>
            </foreignObject>
            <text x="46" y="12" fill="#000000" text-anchor="middle" font-size="12px" font-family="Courier New" font-weight="bold">[Not supported by viewer]</text>
          </switch>
        </g>
        <path d="M 650 454 L 670 454 L 670 419 L 510 419 L 510 369 L 523.63 369" fill="none" stroke="#000000" stroke-miterlimit="10"/>
        <path d="M 528.88 369 L 521.88 372.5 L 523.63 369 L 521.88 365.5 Z" fill="#000000" stroke="#000000" stroke-miterlimit="10"/>
        <g transform="translate(520.5,413.5)">
          <switch>
            <foreignObject style="overflow:visible;" pointer-events="all" width="140" height="12" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
              <div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 12px; font-family: Courier\ New; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; white-space: nowrap; font-weight: bold; text-align: center;">
                <div xmlns="http://www.w3.org/1999/xhtml" style="display:inline-block;text-align:inherit;text-decoration:inherit;background-color:#ffffff;">An award-winning spa</div>
              </div>
            </foreignObject>
            <text x="70" y="12" fill="#000000" text-anchor="middle" font-size="12px" font-family="Courier New" font-weight="bold">An award-winning spa</text>
          </switch>
        </g>
        <path d="M 650 484 L 670 484 L 670 519 L 510 519 L 510 569 L 523.63 569" fill="none" stroke="#000000" stroke-miterlimit="10"/>
        <path d="M 528.88 569 L 521.88 572.5 L 523.63 569 L 521.88 565.5 Z" fill="#000000" stroke="#000000" stroke-miterlimit="10"/>
        <g transform="translate(558.5,513.5)">
          <switch>
            <foreignObject style="overflow:visible;" pointer-events="all" width="63" height="12" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
              <div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 12px; font-family: Courier\ New; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; white-space: nowrap; font-weight: bold; text-align: center;">
                <div xmlns="http://www.w3.org/1999/xhtml" style="display:inline-block;text-align:inherit;text-decoration:inherit;background-color:#ffffff;">Free Wifi</div>
              </div>
            </foreignObject>
            <text x="32" y="12" fill="#000000" text-anchor="middle" font-size="12px" font-family="Courier New" font-weight="bold">Free Wifi</text>
          </switch>
        </g>
        <path d="M 59 539 L 59 539.4 L 69.2 538.35 L 79.4 539.69 L 89.6 539.66 L 99.8 538.31 L 110 539.35 L 120.2 539.25 L 130.4 539.22 L 140.6 539.42 L 150.8 539.07 L 161 539 Q 170 539 170 548 L 170.11 548 L 170.18 556.4 L 169.77 564.8 L 169.86 573.2 L 170.05 581.6 L 170 590 Q 170 599 161 599 L 161 599.75 L 150.8 598.62 L 140.6 598.27 L 130.4 598.89 L 120.2 598.29 L 110 598.72 L 99.8 599 L 89.6 599.64 L 79.4 599 L 69.2 599.08 L 59 599 Q 50 599 50 590 L 49.99 590 L 50.23 581.6 L 49.79 573.2 L 49.85 564.8 L 50.07 556.4 L 50 548 Q 50 539 59 539 L 59 539 Z Z" fill="#2c96d3" stroke="none"/>
        <g transform="translate(50.5,548.5)">
          <switch>
            <foreignObject style="overflow:visible;" pointer-events="all" width="118" height="41" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
              <div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 12px; font-family: Courier\ New; color: rgb(255, 255, 255); line-height: 1.2; vertical-align: top; width: 118px; white-space: normal; overflow-wrap: normal; font-weight: bold; text-align: center;">
                <div xmlns="http://www.w3.org/1999/xhtml" style="display:inline-block;text-align:inherit;text-decoration:inherit;">Which is your preferred food-based anagram?</div>
              </div>
            </foreignObject>
            <text x="59" y="27" fill="#FFFFFF" text-anchor="middle" font-size="12px" font-family="Courier New" font-weight="bold">Which is your preferred food-based anagram?</text>
          </switch>
        </g>
        <path d="M 290 569 L 280 569 L 176.37 569" fill="none" stroke="#000000" stroke-miterlimit="10"/>
        <path d="M 171.12 569 L 178.12 565.5 L 176.37 569 L 178.12 572.5 Z" fill="#000000" stroke="#000000" stroke-miterlimit="10"/>
        <g transform="translate(205.5,563.5)">
          <switch>
            <foreignObject style="overflow:visible;" pointer-events="all" width="49" height="12" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
              <div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 12px; font-family: Courier\ New; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; white-space: nowrap; font-weight: bold; text-align: center;">
                <div xmlns="http://www.w3.org/1999/xhtml" style="display:inline-block;text-align:inherit;text-decoration:inherit;background-color:#ffffff;">200-300</div>
              </div>
            </foreignObject>
            <text x="25" y="12" fill="#000000" text-anchor="middle" font-size="12px" font-family="Courier New" font-weight="bold">200-300</text>
          </switch>
        </g>
        <path d="M 50 554 L 30 554 L 30 519 L 190 519 L 190 469 L 176.37 469" fill="none" stroke="#000000" stroke-miterlimit="10"/>
        <path d="M 171.12 469 L 178.12 465.5 L 176.37 469 L 178.12 472.5 Z" fill="#000000" stroke="#000000" stroke-miterlimit="10"/>
        <g transform="translate(62.5,512.5)">
          <switch>
            <foreignObject style="overflow:visible;" pointer-events="all" width="98" height="12" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
              <div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 12px; font-family: Courier\ New; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; white-space: nowrap; font-weight: bold; text-align: center;">
                <div xmlns="http://www.w3.org/1999/xhtml" style="display:inline-block;text-align:inherit;text-decoration:inherit;background-color:#ffffff;">Meat Deliverer</div>
              </div>
            </foreignObject>
            <text x="49" y="12" fill="#000000" text-anchor="middle" font-size="12px" font-family="Courier New" font-weight="bold">Meat Deliverer</text>
          </switch>
        </g>
        <path d="M 50 584 L 30 584 L 30 619 L 190 619 L 190 664 L 176.37 664" fill="none" stroke="#000000" stroke-miterlimit="10"/>
        <path d="M 171.12 664 L 178.12 660.5 L 176.37 664 L 178.12 667.5 Z" fill="#000000" stroke="#000000" stroke-miterlimit="10"/>
        <g transform="translate(68.5,613.5)">
          <switch>
            <foreignObject style="overflow:visible;" pointer-events="all" width="84" height="12" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
              <div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 12px; font-family: Courier\ New; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; white-space: nowrap; font-weight: bold; text-align: center;">
                <div xmlns="http://www.w3.org/1999/xhtml" style="display:inline-block;text-align:inherit;text-decoration:inherit;background-color:#ffffff;">Mr Inner Pie</div>
              </div>
            </foreignObject>
            <text x="42" y="12" fill="#000000" text-anchor="middle" font-size="12px" font-family="Courier New" font-weight="bold">Mr Inner Pie</text>
          </switch>
        </g>
        <path d="M 350 599 L 350 627.63" fill="none" stroke="#000000" stroke-miterlimit="10"/>
        <path d="M 350 632.88 L 346.5 625.88 L 350 627.63 L 353.5 625.88 Z" fill="#000000" stroke="#000000" stroke-miterlimit="10"/>
        <g transform="translate(335.5,609.5)">
          <switch>
            <foreignObject style="overflow:visible;" pointer-events="all" width="28" height="12" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
              <div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 12px; font-family: Courier\ New; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; white-space: nowrap; font-weight: bold; text-align: center;">
                <div xmlns="http://www.w3.org/1999/xhtml" style="display:inline-block;text-align:inherit;text-decoration:inherit;background-color:#ffffff;">
                  <font style="font-size: 12px">One?</font>
                </div>
              </div>
            </foreignObject>
            <text x="14" y="12" fill="#000000" text-anchor="middle" font-size="12px" font-family="Courier New" font-weight="bold">[Not supported by viewer]</text>
          </switch>
        </g>
        <path d="M 539 726 L 539 726.08 L 549.2 726.55 L 559.4 726.11 L 569.6 725.35 L 579.8 726.3 L 590 726.1 L 600.2 725.71 L 610.4 726.31 L 620.6 726.3 L 630.8 726.66 L 641 726 Q 650 726 650 735 L 650 735 L 649.78 743.4 L 650.12 751.8 L 650.04 760.2 L 650.09 768.6 L 650 777 Q 650 786 641 786 L 641 785.53 L 630.8 785.86 L 620.6 785.52 L 610.4 786.75 L 600.2 786.42 L 590 786.47 L 579.8 786.74 L 569.6 786.75 L 559.4 786.24 L 549.2 786.65 L 539 786 Q 530 786 530 777 L 529.93 777 L 529.77 768.6 L 529.8 760.2 L 530.15 751.8 L 529.82 743.4 L 530 735 Q 530 726 539 726 L 539 726 Z Z" fill="#2c96d3" stroke="none"/>
        <g transform="translate(540.5,742.5)">
          <switch>
            <foreignObject style="overflow:visible;" pointer-events="all" width="98" height="27" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
              <div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 12px; font-family: Courier\ New; color: rgb(255, 255, 255); line-height: 1.2; vertical-align: top; width: 99px; white-space: nowrap; overflow-wrap: normal; font-weight: bold; text-align: center;">
                <div xmlns="http://www.w3.org/1999/xhtml" style="display:inline-block;text-align:inherit;text-decoration:inherit;">Do you prefer
                  <br />Kings or Arms?
                </div>
              </div>
            </foreignObject>
            <text x="49" y="20" fill="#FFFFFF" text-anchor="middle" font-size="12px" font-family="Courier New" font-weight="bold">Do you prefer&lt;br&gt;Kings or Arms?</text>
          </switch>
        </g>
        <path d="M 410 664 L 470 664 L 470 756 L 523.63 756" fill="none" stroke="#000000" stroke-miterlimit="10"/>
        <path d="M 528.88 756 L 521.88 759.5 L 523.63 756 L 521.88 752.5 Z" fill="#000000" stroke="#000000" stroke-miterlimit="10"/>
        <g transform="translate(455.5,698.5)">
          <switch>
            <foreignObject style="overflow:visible;" pointer-events="all" width="28" height="12" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
              <div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 12px; font-family: Courier\ New; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; white-space: nowrap; font-weight: bold; text-align: center;">
                <div xmlns="http://www.w3.org/1999/xhtml" style="display:inline-block;text-align:inherit;text-decoration:inherit;background-color:#ffffff;">DO I</div>
              </div>
            </foreignObject>
            <text x="14" y="12" fill="#000000" text-anchor="middle" font-size="12px" font-family="Courier New" font-weight="bold">DO I</text>
          </switch>
        </g>
        <path d="M 650 741 L 670 741 L 670 664 L 656.37 664" fill="none" stroke="#000000" stroke-miterlimit="10"/>
        <path d="M 651.12 664 L 658.12 660.5 L 656.37 664 L 658.12 667.5 Z" fill="#000000" stroke="#000000" stroke-miterlimit="10"/>
        <g transform="translate(683.5,686.5)">
          <switch>
            <foreignObject style="overflow:visible;" pointer-events="all" width="13" height="59" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
              <div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 12px; font-family: Courier\ New; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; white-space: nowrap; font-weight: bold; text-align: center;">
                <div xmlns="http://www.w3.org/1999/xhtml" style="display:inline-block;text-align:inherit;text-decoration:inherit;background-color:#ffffff;">
                  <p style="line-height: 100%"></p>
                  <h1>
                    <font style="font-size: 12px">
                      <span></span>
                    </font>
                  </h1>
                  <p></p>
                </div>
              </div>
            </foreignObject>
            <text x="7" y="36" fill="#000000" text-anchor="middle" font-size="12px" font-family="Courier New" font-weight="bold">[Not supported by viewer]</text>
          </switch>
        </g>
        <path d="M 650 771 L 670 771 L 670 866 L 656.37 866" fill="none" stroke="#000000" stroke-miterlimit="10"/>
        <path d="M 651.12 866 L 658.12 862.5 L 656.37 866 L 658.12 869.5 Z" fill="#000000" stroke="#000000" stroke-miterlimit="10"/>
        <g transform="translate(683.5,769.5)">
          <switch>
            <foreignObject style="overflow:visible;" pointer-events="all" width="13" height="34" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
              <div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 12px; font-family: Courier\ New; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; white-space: nowrap; font-weight: bold; text-align: center;">
                <div xmlns="http://www.w3.org/1999/xhtml" style="display:inline-block;text-align:inherit;text-decoration:inherit;background-color:#ffffff;">
                  <p style="line-height: 100%">
                    <font style="font-size: 12px">
                      <span></span>
                    </font>
                  </p>
                  <p></p>
                </div>
              </div>
            </foreignObject>
            <text x="7" y="23" fill="#000000" text-anchor="middle" font-size="12px" font-family="Courier New" font-weight="bold">[Not supported by viewer]</text>
          </switch>
        </g>
        <path d="M 350 694 L 350 718 L 110 718 L 110 734.63" fill="none" stroke="#000000" stroke-miterlimit="10"/>
        <path d="M 110 739.88 L 106.5 732.88 L 110 734.63 L 113.5 732.88 Z" fill="#000000" stroke="#000000" stroke-miterlimit="10"/>
        <g transform="translate(222.5,711.5)">
          <switch>
            <foreignObject style="overflow:visible;" pointer-events="all" width="14" height="12" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
              <div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 12px; font-family: Courier\ New; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; white-space: nowrap; font-weight: bold; text-align: center;">
                <div xmlns="http://www.w3.org/1999/xhtml" style="display:inline-block;text-align:inherit;text-decoration:inherit;background-color:#ffffff;">
                  <font style="font-size: 12px">Na</font>
                </div>
              </div>
            </foreignObject>
            <text x="7" y="12" fill="#000000" text-anchor="middle" font-size="12px" font-family="Courier New" font-weight="bold">[Not supported by viewer]</text>
          </switch>
        </g>
        <path d="M 0 0 L 0 -0.32 L 10 0.29 L 20 -0.41 L 30 0.53 L 40 -0.57 L 50 -0.65 L 60 -0.26 L 70 0.64 L 80 0.07 L 90 0.33 L 100 -0.26 L 110 -0.3 L 120 0.04 L 130 0.25 L 140 -0.66 L 150 -0.17 L 160 -0.73 L 170 0.31 L 180 0.66 L 190 -0.48 L 200 -0.28 L 210 -0.09 L 220 0.29 L 230 -0.73 L 240 -0.61 L 250 -0.14 L 260 0.43 L 270 -0.43 L 280 0.43 L 290 -0.43 L 300 -0.01 L 310 0.59 L 320 0.49 L 330 -0.57 L 340 0.45 L 350 -0.26 L 360 -0.17 L 370 -0.71 L 380 0.57 L 390 0.22 L 400 0.05 L 410 0.56 L 420 -0.52 L 430 0.44 L 440 -0.65 L 450 0.18 L 460 0.43 L 470 -0.6 L 480 0.29 L 490 -0.11 L 500 -0.27 L 510 -0.67 L 520 -0.19 L 530 0.44 L 540 0.32 L 550 -0.49 L 560 0.37 L 570 0.71 L 580 -0.13 L 590 0.56 L 600 0.35 L 610 0.66 L 620 0.64 L 630 -0.28 L 640 0.52 L 650 0.17 L 660 -0.43 L 670 0.04 L 680 0.23 L 690 0.35 L 700 0 L 700 0 L 700.12 10 L 699.37 20 L 699.33 30 L 699.29 40 L 700.22 50 L 699.67 60 L 700.3 70 L 700.42 80 L 700.65 90 L 700 100 L 700 100.36 L 690 99.33 L 680 99.53 L 670 100.14 L 660 99.45 L 650 100.42 L 640 99.63 L 630 99.62 L 620 99.7 L 610 100.69 L 600 99.92 L 590 100.15 L 580 99.25 L 570 100.42 L 560 100.2 L 550 99.48 L 540 99.52 L 530 99.84 L 520 100.39 L 510 100.26 L 500 99.89 L 490 99.52 L 480 100.72 L 470 100.1 L 460 100.48 L 450 100.66 L 440 99.5 L 430 100.12 L 420 99.84 L 410 99.71 L 400 99.83 L 390 100.38 L 380 100.43 L 370 99.26 L 360 100.56 L 350 99.27 L 340 99.34 L 330 100.66 L 320 99.97 L 310 99.61 L 300 99.35 L 290 100 L 280 99.68 L 270 99.28 L 260 99.49 L 250 99.35 L 240 99.62 L 230 100.21 L 220 100.45 L 210 99.67 L 200 99.53 L 190 100.7 L 180 99.62 L 170 99.94 L 160 100.51 L 150 99.28 L 140 99.71 L 130 100.39 L 120 100.03 L 110 99.27 L 100 99.46 L 90 99.29 L 80 99.99 L 70 100.18 L 60 99.66 L 50 100.01 L 40 100.51 L 30 100.26 L 20 99.51 L 10 99.53 L 0 100 L -0.72 100 L -0.72 90 L 0.11 80 L -0.25 70 L -0.46 60 L -0.59 50 L -0.57 40 L 0.48 30 L -0.42 20 L -0.61 10 L 0 0 L 0 0 Z Z" fill="#ffffff" stroke="none"/>
        <g transform="translate(111.5,9.5)">
          <switch>
            <foreignObject style="overflow:visible;" pointer-events="all" width="476" height="80" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
              <div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 12px; font-family: Courier\ New; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; width: 477px; white-space: nowrap; overflow-wrap: normal; text-align: center;">
                <div xmlns="http://www.w3.org/1999/xhtml" style="display:inline-block;text-align:inherit;text-decoration:inherit;">
                  <div>
                    <font style="font-size: 24px" face="Courier New">
                      <b>Sarah and Jonny's Super Scientific</b>
                    </font>
                  </div>
                  <div>
                    <font style="font-size: 19px" face="Courier New">
                      <b>
                        <font style="font-size: 24px">Accommodation Finding Flowchart</font>
                        <br />
                      </b>
                    </font>
                  </div>
                  <div>
                    <font style="font-size: 20px" face="Courier New">
                      <b>
                        <font style="font-size: 18px">(SAJSSAFF)</font>
                        <br />
                      </b>
                    </font>
                  </div>
                </div>
              </div>
            </foreignObject>
            <text x="238" y="46" fill="#000000" text-anchor="middle" font-size="12px" font-family="Courier New">[Not supported by viewer]</text>
          </switch>
        </g>
      </g>
    </svg>
  </div>
</body>
