<title>Places to Stay &middot; #smarnold</title>
<link rel="stylesheet" type="text/css" href="places-to-stay/style.css" />

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-44805097-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-44805097-3');
</script>

<body>
  <div class="places-to-stay-page">
    <svg class="flowchart" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="701px" height="897px" version="1.1">
      <g transform="translate(0.5,0.5)">
        <path d="M 299 239 L 299 238.67 L 309.2 239.3 L 319.4 239.38 L 329.6 239.6 L 339.8 239.38 L 350 238.97 L 360.2 239.23 L 370.4 238.82 L 380.6 238.66 L 390.8 239.3 L 401 239 Q 410 239 410 248 L 409.87 248 L 410.2 256.4 L 410.16 264.8 L 409.89 273.2 L 410.05 281.6 L 410 290 Q 410 299 401 299 L 401 298.79 L 390.8 298.69 L 380.6 299.34 L 370.4 298.8 L 360.2 299.48 L 350 298.33 L 339.8 298.72 L 329.6 298.44 L 319.4 298.86 L 309.2 298.77 L 299 299 Q 290 299 290 290 L 289.83 290 L 290.24 281.6 L 290.2 273.2 L 290.18 264.8 L 290.23 256.4 L 290 248 Q 290 239 299 239 L 299 239 Z Z" fill="#2c96d3" stroke="none" pointer-events="none" />
        <g fill="#FFFFFF" font-family="Courier New" font-weight="bold" text-anchor="middle" font-size="12px">
         <text x="349.5" y="265.5">Do you like</text>
         <text x="349.5" y="279.5">flowcharts?</text>
       </g>
       <a xlink:href="http://northhillcamping.co.uk/">
         <path d="M 299 836 L 299 836.51 L 309.2 836.59 L 319.4 835.8 L 329.6 836 L 339.8 836.06 L 350 835.4 L 360.2 835.3 L 370.4 835.9 L 380.6 836.12 L 390.8 835.71 L 401 836 Q 410 836 410 845 L 410.01 845 L 410.02 853.4 L 410 861.8 L 410.24 870.2 L 410.05 878.6 L 410 887 Q 410 896 401 896 L 401 896.73 L 390.8 895.44 L 380.6 895.67 L 370.4 895.76 L 360.2 896.14 L 350 895.48 L 339.8 896.72 L 329.6 895.38 L 319.4 896 L 309.2 895.79 L 299 896 Q 290 896 290 887 L 290.14 887 L 289.86 878.6 L 290 870.2 L 290.1 861.8 L 289.97 853.4 L 290 845 Q 290 836 299 836 L 299 836 Z Z" fill="#ffd966" stroke="none" />
         <g fill="#000000" font-family="Courier New" font-weight="bold" text-anchor="middle" font-size="12px">
          <text x="349.5" y="862.5">Camping @</text>
          <text x="349.5" y="876.5">North Hill Farm</text>
        </g>
      </a>
      <a xlink:href="https://www.phcompany.com/de-vere/latimer-estate/">
       <path d="M 59 439 L 59 438.3 L 69.2 438.74 L 79.4 439.39 L 89.6 438.46 L 99.8 438.77 L 110 439.74 L 120.2 439.01 L 130.4 439.69 L 140.6 438.72 L 150.8 439.58 L 161 439 Q 170 439 170 448 L 170.18 448 L 169.92 456.4 L 170.18 464.8 L 170.09 473.2 L 170.15 481.6 L 170 490 Q 170 499 161 499 L 161 499.5 L 150.8 499.55 L 140.6 499.41 L 130.4 498.79 L 120.2 499.41 L 110 498.91 L 99.8 499.09 L 89.6 499.37 L 79.4 498.5 L 69.2 498.7 L 59 499 Q 50 499 50 490 L 50.17 490 L 50.16 481.6 L 49.9 473.2 L 49.92 464.8 L 50.14 456.4 L 50 448 Q 50 439 59 439 L 59 439 Z Z" fill="#ffd966" stroke="none" />
       <g fill="#000000" font-family="Courier New" font-weight="bold" text-anchor="middle" font-size="12px">
        <text x="109.5" y="472.5">De Vere Latimer</text>
      </g>
    </a>
    <a xlink:href="https://www.premierinn.com/gb/en/hotels/england/hertfordshire/watford/watford-croxley-green.html?cid=GLBC_WATBRE">
     <path d="M 59 634 L 59 633.91 L 69.2 634 L 79.4 634.21 L 89.6 633.47 L 99.8 634.73 L 110 633.81 L 120.2 633.34 L 130.4 633.53 L 140.6 634.38 L 150.8 633.63 L 161 634 Q 170 634 170 643 L 170.11 643 L 170.16 651.4 L 169.81 659.8 L 169.79 668.2 L 169.8 676.6 L 170 685 Q 170 694 161 694 L 161 694.11 L 150.8 693.61 L 140.6 694.75 L 130.4 694.68 L 120.2 693.64 L 110 693.87 L 99.8 693.46 L 89.6 694.55 L 79.4 694.04 L 69.2 693.93 L 59 694 Q 50 694 50 685 L 49.98 685 L 50.23 676.6 L 49.9 668.2 L 49.84 659.8 L 49.78 651.4 L 50 643 Q 50 634 59 634 L 59 634 Z Z" fill="#ffd966" stroke="none" />
     <g fill="#000000" font-family="Courier New" font-weight="bold" text-anchor="middle" font-size="12px">
      <text x="109.5" y="667.5">Premier Inn</text>
    </g>
  </a>
  <a xlink:href="http://www.bedfordarms.co.uk/">
   <path d="M 539 836 L 539 835.9 L 549.2 836.71 L 559.4 835.58 L 569.6 835.65 L 579.8 835.52 L 590 836.27 L 600.2 836.45 L 610.4 836.59 L 620.6 835.99 L 630.8 835.91 L 641 836 Q 650 836 650 845 L 649.79 845 L 649.97 853.4 L 649.86 861.8 L 649.82 870.2 L 649.93 878.6 L 650 887 Q 650 896 641 896 L 641 896.64 L 630.8 896.54 L 620.6 895.42 L 610.4 896.14 L 600.2 895.92 L 590 896.74 L 579.8 895.69 L 569.6 896.23 L 559.4 896.31 L 549.2 895.92 L 539 896 Q 530 896 530 887 L 529.79 887 L 529.95 878.6 L 529.84 870.2 L 529.77 861.8 L 530.24 853.4 L 530 845 Q 530 836 539 836 L 539 836 Z Z" fill="#ffd966" stroke="none" />
   <g fill="#000000" font-family="Courier New" font-weight="bold" text-anchor="middle" font-size="12px">
    <text x="589.5" y="869.5">Bedford Arms</text>
  </g>
</a>
<a xlink:href="http://www.glampingglamping.co.uk/">
 <path d="M 59 836 L 59 836.54 L 69.2 835.87 L 79.4 836.21 L 89.6 836.11 L 99.8 836.69 L 110 835.4 L 120.2 835.32 L 130.4 836.52 L 140.6 835.46 L 150.8 836.11 L 161 836 Q 170 836 170 845 L 169.9 845 L 170.07 853.4 L 169.93 861.8 L 169.77 870.2 L 169.81 878.6 L 170 887 Q 170 896 161 896 L 161 895.99 L 150.8 896.27 L 140.6 896.13 L 130.4 895.77 L 120.2 895.35 L 110 895.59 L 99.8 896.05 L 89.6 896.34 L 79.4 896.34 L 69.2 895.52 L 59 896 Q 50 896 50 887 L 49.81 887 L 49.94 878.6 L 50.09 870.2 L 50.23 861.8 L 49.88 853.4 L 50 845 Q 50 836 59 836 L 59 836 Z Z" fill="#ffd966" stroke="none" />
 <g fill="#000000" font-family="Courier New" font-weight="bold" text-anchor="middle" font-size="12px">
  <text x="109.5" y="862.5">Glamping @</text>
  <text x="109.5" y="876.5">North Hill Farm</text>
</g>
</a>
<a xlink:href="https://www.google.co.uk/maps/search/Your+Mate's+House/@51.5044906,-0.0351957,14z?hl=en">
 <path d="M 59 236 L 59 235.64 L 69.2 236.21 L 79.4 236.56 L 89.6 235.69 L 99.8 235.38 L 110 235.65 L 120.2 235.52 L 130.4 235.46 L 140.6 235.54 L 150.8 235.95 L 161 236 Q 170 236 170 245 L 170 245 L 170.15 253.4 L 169.78 261.8 L 170.01 270.2 L 170.15 278.6 L 170 287 Q 170 296 161 296 L 161 295.6 L 150.8 296.11 L 140.6 295.98 L 130.4 296.73 L 120.2 296.2 L 110 295.4 L 99.8 296.65 L 89.6 296.28 L 79.4 295.93 L 69.2 295.88 L 59 296 Q 50 296 50 287 L 49.82 287 L 49.94 278.6 L 50 270.2 L 50.25 261.8 L 49.86 253.4 L 50 245 Q 50 236 59 236 L 59 236 Z Z" fill="#ffd966" stroke="none" />
 <g fill="#000000" font-family="Courier New" font-weight="bold" text-anchor="middle" font-size="12px">
  <text x="109.5" y="262.5">Your mate's</text>
  <text x="109.5" y="276.5">house</text>
</g>
</a>
<path d="M 539 239 L 539 238.74 L 549.2 239.67 L 559.4 238.74 L 569.6 239.53 L 579.8 238.95 L 590 238.57 L 600.2 239.28 L 610.4 239.53 L 620.6 238.89 L 630.8 238.72 L 641 239 Q 650 239 650 248 L 650.05 248 L 650.17 256.4 L 649.93 264.8 L 649.91 273.2 L 650.24 281.6 L 650 290 Q 650 299 641 299 L 641 298.98 L 630.8 298.91 L 620.6 299.58 L 610.4 299.04 L 600.2 298.62 L 590 298.93 L 579.8 298.44 L 569.6 298.8 L 559.4 298.82 L 549.2 299.57 L 539 299 Q 530 299 530 290 L 530.04 290 L 529.8 281.6 L 530.08 273.2 L 530.11 264.8 L 529.94 256.4 L 530 248 Q 530 239 539 239 L 539 239 Z Z" fill="#2c96d3" stroke="none" />
<g fill="#FFFFFF" font-family="Courier New" font-weight="bold" text-anchor="middle" font-size="12px">
 <text x="589.5" y="272.5">Tough.</text>
</g>
<path d="M 299 339 L 299 339.19 L 309.2 339.02 L 319.4 338.8 L 329.6 339.58 L 339.8 338.29 L 350 338.29 L 360.2 339.53 L 370.4 338.96 L 380.6 339.62 L 390.8 338.54 L 401 339 Q 410 339 410 348 L 410.19 348 L 409.87 356.4 L 409.75 364.8 L 409.87 373.2 L 409.81 381.6 L 410 390 Q 410 399 401 399 L 401 399.5 L 390.8 399.18 L 380.6 399.42 L 370.4 399.74 L 360.2 399.45 L 350 398.59 L 339.8 398.87 L 329.6 398.36 L 319.4 399.53 L 309.2 399.28 L 299 399 Q 290 399 290 390 L 289.83 390 L 290.01 381.6 L 290.05 373.2 L 290 364.8 L 289.82 356.4 L 290 348 Q 290 339 299 339 L 299 339 Z Z" fill="#2c96d3" stroke="none" />
<g fill="#FFFFFF" font-family="Courier New" font-weight="bold" text-anchor="middle" font-size="12px">
 <text x="349.5" y="358.5">Do you have</text>
 <text x="349.5" y="372.5">a mate who</text>
 <text x="349.5" y="386.5">lives nearby?</text>
</g>
<path d="M 299 439 L 299 438.33 L 309.2 438.57 L 319.4 439.41 L 329.6 439 L 339.8 438.64 L 350 438.37 L 360.2 438.77 L 370.4 439.12 L 380.6 439.66 L 390.8 438.37 L 401 439 Q 410 439 410 448 L 409.95 448 L 410.16 456.4 L 410.16 464.8 L 410.23 473.2 L 410.17 481.6 L 410 490 Q 410 499 401 499 L 401 498.78 L 390.8 499 L 380.6 499.37 L 370.4 499.71 L 360.2 498.49 L 350 498.67 L 339.8 498.61 L 329.6 499.39 L 319.4 499.43 L 309.2 499.41 L 299 499 Q 290 499 290 490 L 290.12 490 L 289.77 481.6 L 289.98 473.2 L 290.03 464.8 L 290.12 456.4 L 290 448 Q 290 439 299 439 L 299 439 Z Z" fill="#2c96d3" stroke="none" />
<g fill="#FFFFFF" font-family="Courier New" font-weight="bold" text-anchor="middle" font-size="12px">
 <text x="349.5" y="465.5">Do you</text>
 <text x="349.5" y="479.5">like golf?</text>
</g>
<a xlink:href="https://www.thegrove.co.uk/">
 <path d="M 539 339 L 539 339.18 L 549.2 338.64 L 559.4 338.69 L 569.6 338.45 L 579.8 339.44 L 590 338.49 L 600.2 338.69 L 610.4 339.28 L 620.6 338.91 L 630.8 338.6 L 641 339 Q 650 339 650 348 L 649.91 348 L 650.22 356.4 L 650.09 364.8 L 650.06 373.2 L 649.82 381.6 L 650 390 Q 650 399 641 399 L 641 399.74 L 630.8 399.41 L 620.6 398.77 L 610.4 399.6 L 600.2 398.33 L 590 399.09 L 579.8 398.37 L 569.6 398.88 L 559.4 398.9 L 549.2 398.56 L 539 399 Q 530 399 530 390 L 529.86 390 L 529.86 381.6 L 529.77 373.2 L 529.93 364.8 L 530.04 356.4 L 530 348 Q 530 339 539 339 L 539 339 Z Z" fill="#ffd966" stroke="none" />
 <g fill="#000000" font-family="Courier New" font-weight="bold" text-anchor="middle" font-size="12px">
  <text x="589.5" y="372.5">The Grove</text>
</g>
</a>
<a xlink:href="https://www.bestwestern.co.uk/hotels/best-western-white-house-hotel-83770">
 <path d="M 539 539 L 539 539.66 L 549.2 538.97 L 559.4 538.45 L 569.6 538.93 L 579.8 539.65 L 590 539.38 L 600.2 539.32 L 610.4 538.3 L 620.6 538.83 L 630.8 538.86 L 641 539 Q 650 539 650 548 L 650.18 548 L 649.8 556.4 L 650.13 564.8 L 650.23 573.2 L 649.91 581.6 L 650 590 Q 650 599 641 599 L 641 598.57 L 630.8 598.29 L 620.6 598.57 L 610.4 599.25 L 600.2 599.11 L 590 599.2 L 579.8 598.89 L 569.6 598.32 L 559.4 598.56 L 549.2 598.96 L 539 599 Q 530 599 530 590 L 530.05 590 L 529.85 581.6 L 529.86 573.2 L 530.19 564.8 L 530.17 556.4 L 530 548 Q 530 539 539 539 L 539 539 Z Z" fill="#ffd966" stroke="none" />
 <g fill="#000000" font-family="Courier New" font-weight="bold" text-anchor="middle" font-size="12px">
  <text x="589.5" y="558.5">Best Western</text>
  <text x="589.5" y="572.5">White House</text>
  <text x="589.5" y="586.5">Hotel</text>
</g>
</a>
<a xlink:href="http://www.kingslodge.uk.com/">
 <path d="M 539 634 L 539 633.87 L 549.2 633.26 L 559.4 633.46 L 569.6 633.78 L 579.8 634.1 L 590 634.6 L 600.2 633.73 L 610.4 634.72 L 620.6 634.17 L 630.8 634.15 L 641 634 Q 650 634 650 643 L 649.78 643 L 650.11 651.4 L 650.19 659.8 L 650.15 668.2 L 649.81 676.6 L 650 685 Q 650 694 641 694 L 641 693.9 L 630.8 693.94 L 620.6 694.19 L 610.4 693.56 L 600.2 694.39 L 590 693.26 L 579.8 693.92 L 569.6 693.36 L 559.4 694.44 L 549.2 694.61 L 539 694 Q 530 694 530 685 L 529.78 685 L 529.9 676.6 L 530.19 668.2 L 530.03 659.8 L 530.15 651.4 L 530 643 Q 530 634 539 634 L 539 634 Z Z" fill="#ffd966" stroke="none" />
 <g fill="#000000" font-family="Courier New" font-weight="bold" text-anchor="middle" font-size="12px">
  <text x="589.5" y="667.5">The Kings Lodge</text>
</g>
</a>
<path d="M 299 634 L 299 634.27 L 309.2 633.58 L 319.4 634.59 L 329.6 634.35 L 339.8 633.48 L 350 634.21 L 360.2 634.1 L 370.4 634.24 L 380.6 634.48 L 390.8 633.41 L 401 634 Q 410 634 410 643 L 410.01 643 L 410.2 651.4 L 410.03 659.8 L 410.21 668.2 L 410.02 676.6 L 410 685 Q 410 694 401 694 L 401 694.52 L 390.8 693.89 L 380.6 694.45 L 370.4 693.54 L 360.2 693.58 L 350 693.38 L 339.8 694.32 L 329.6 694.64 L 319.4 693.37 L 309.2 694.04 L 299 694 Q 290 694 290 685 L 289.96 685 L 289.89 676.6 L 290.21 668.2 L 290.17 659.8 L 289.94 651.4 L 290 643 Q 290 634 299 634 L 299 634 Z Z" fill="#2c96d3" stroke="none" />
<g fill="#FFFFFF" font-family="Courier New" font-weight="bold" text-anchor="middle" font-size="12px">
 <text x="349.5" y="660.5">Do you want to</text>
 <text x="349.5" y="674.5">sleep in a pub?</text>
</g>
<path d="M 59 741 L 59 740.97 L 69.2 740.94 L 79.4 740.81 L 89.6 741.3 L 99.8 741.71 L 110 740.77 L 120.2 741.6 L 130.4 740.33 L 140.6 741.34 L 150.8 740.79 L 161 741 Q 170 741 170 750 L 170.06 750 L 169.76 758.4 L 169.8 766.8 L 169.87 775.2 L 170.16 783.6 L 170 792 Q 170 801 161 801 L 161 801.49 L 150.8 801.49 L 140.6 801.44 L 130.4 801.61 L 120.2 800.82 L 110 800.5 L 99.8 801.21 L 89.6 800.45 L 79.4 800.29 L 69.2 800.8 L 59 801 Q 50 801 50 792 L 50.18 792 L 50.12 783.6 L 50.08 775.2 L 50.01 766.8 L 49.99 758.4 L 50 750 Q 50 741 59 741 L 59 741 Z Z" fill="#2c96d3" stroke="none" />
<g fill="#FFFFFF" font-family="Courier New" font-weight="bold" text-anchor="middle" font-size="12px">
 <text x="109.5" y="767.5">How do you like</text>
 <text x="109.5" y="781.5">your camping?</text>
</g>
<path d="M 50 771 L 30 771 L 30 821 L 190 821 L 190 866 L 176.37 866" fill="none" stroke="#000000" stroke-miterlimit="10" />
<path d="M 171.12 866 L 178.12 862.5 L 176.37 866 L 178.12 869.5 Z" fill="#000000" stroke="#000000" stroke-miterlimit="10" />
<g fill="#000000" font-family="Courier New" font-weight="bold" text-anchor="middle" font-size="12px">
 <rect fill="#ffffff" stroke="none" x="48" y="814" width="124" height="15" stroke-width="0" />
 <text x="109" y="824">Grilled Camembert</text>
</g>
<path d="M 170 771 L 350 771 L 350 829.63" fill="none" stroke="#000000" stroke-miterlimit="10" />
<path d="M 350 834.88 L 346.5 827.88 L 350 829.63 L 353.5 827.88 Z" fill="#000000" stroke="#000000" stroke-miterlimit="10" />
<g fill="#000000" font-family="Courier New" font-weight="bold" text-anchor="middle" font-size="12px">
 <rect fill="#ffffff" stroke="none" x="210" y="765" width="81" height="15" stroke-width="0" />
 <text x="249" y="775">Bear Grylls</text>
</g>
<path d="M 410 269 L 523.63 269" fill="none" stroke="#000000" stroke-miterlimit="10" />
<path d="M 528.88 269 L 521.88 272.5 L 523.63 269 L 521.88 265.5 Z" fill="#000000" stroke="#000000" stroke-miterlimit="10" />
<g fill="#000000" font-family="Courier New" font-weight="bold" text-anchor="middle" font-size="12px">
 <rect fill="#ffffff" stroke="none" x="455" y="263" width="24" height="15" stroke-width="0" />
 <text x="466" y="273">No.</text>
</g>
<path d="M 590 299 L 590 319 L 380 319 L 380 332.63" fill="none" stroke="#000000" stroke-miterlimit="10" />
<path d="M 380 337.88 L 376.5 330.88 L 380 332.63 L 383.5 330.88 Z" fill="#000000" stroke="#000000" stroke-miterlimit="10" />
<g fill="#000000" font-family="Courier New" font-weight="bold" text-anchor="middle" font-size="12px">
 <rect fill="#ffffff" stroke="none" x="456" y="314" width="24" height="15" stroke-width="0" />
 <text x="467" y="324">Oh.</text>
</g>
<path d="M 320 299 L 320 332.63" fill="none" stroke="#000000" stroke-miterlimit="10" />
<path d="M 320 337.88 L 316.5 330.88 L 320 332.63 L 323.5 330.88 Z" fill="#000000" stroke="#000000" stroke-miterlimit="10" />
<g fill="#000000" font-family="Courier New" font-weight="bold" text-anchor="middle" font-size="12px">
 <rect fill="#ffffff" stroke="none" x="303" y="312" width="31" height="15" stroke-width="0" />
 <text x="317" y="322">Yes!</text>
</g>
<path d="M 320 136 L 320 135.37 L 330 135.42 L 340 136.25 L 350 136.51 L 360 136.7 L 370 135.27 L 380 136 Q 410 136 410 166 L 410 166 Q 410 196 380 196 L 380 196.66 L 370 196.39 L 360 196.13 L 350 195.6 L 340 196.17 L 330 195.63 L 320 196 Q 290 196 290 166 L 290 166 Q 290 136 320 136 L 320 136 Z Z" fill="#ff0080" stroke="none" />
<g fill="#000000" font-family="Courier New" font-weight="bold" text-anchor="middle" font-size="12px">
 <text x="349.5" y="162.5">Where should</text>
 <text x="349.5" y="176.5">I stay?!</text>
</g>
<path d="M 350 196 L 350 232.63" fill="none" stroke="#000000" stroke-miterlimit="10" />
<path d="M 350 237.88 L 346.5 230.88 L 350 232.63 L 353.5 230.88 Z" fill="#000000" stroke="#000000" stroke-miterlimit="10" />
<path d="M 290 369 L 110 369 L 110 302.37" fill="none" stroke="#000000" stroke-miterlimit="10" />
<path d="M 110 297.12 L 113.5 304.12 L 110 302.37 L 106.5 304.12 Z" fill="#000000" stroke="#000000" stroke-miterlimit="10" />
<g fill="#000000" font-family="Courier New" font-weight="bold" text-anchor="middle" font-size="12px">
 <rect fill="#ffffff" stroke="none" x="170" y="363" width="74" height="15" stroke-width="0" />
 <text x="205.5" y="372.5">Oh yeah...</text>
</g>
<path d="M 350 399 L 350 432.63" fill="none" stroke="#000000" stroke-miterlimit="10" />
<path d="M 350 437.88 L 346.5 430.88 L 350 432.63 L 353.5 430.88 Z" fill="#000000" stroke="#000000" stroke-miterlimit="10" />
<g fill="#000000" font-family="Courier New" font-weight="bold" text-anchor="middle" font-size="12px">
 <rect fill="#ffffff" stroke="none" x="334" y="410" width="31" height="15" stroke-width="0" />
 <text x="348" y="420">Nope</text>
</g>
<path d="M 299 539 L 299 538.31 L 309.2 538.69 L 319.4 539.47 L 329.6 539.49 L 339.8 539.29 L 350 539.51 L 360.2 538.81 L 370.4 538.27 L 380.6 538.53 L 390.8 538.47 L 401 539 Q 410 539 410 548 L 410.01 548 L 410.14 556.4 L 409.76 564.8 L 409.78 573.2 L 409.95 581.6 L 410 590 Q 410 599 401 599 L 401 598.47 L 390.8 598.58 L 380.6 598.7 L 370.4 599.14 L 360.2 599.26 L 350 598.48 L 339.8 599.16 L 329.6 598.75 L 319.4 598.53 L 309.2 598.89 L 299 599 Q 290 599 290 590 L 289.79 590 L 290.1 581.6 L 290.22 573.2 L 289.99 564.8 L 290.01 556.4 L 290 548 Q 290 539 299 539 L 299 539 Z Z" fill="#2c96d3" stroke="none" />
<g fill="#FFFFFF" font-family="Courier New" font-weight="bold" text-anchor="middle" font-size="12px">
 <text x="349.5" y="565.5">How many rooms</text>
 <text x="349.5" y="579.5">do you require?</text>
</g>
<path d="M 350 499 L 350 532.63" fill="none" stroke="#000000" stroke-miterlimit="10" />
<path d="M 350 537.88 L 346.5 530.88 L 350 532.63 L 353.5 530.88 Z" fill="#000000" stroke="#000000" stroke-miterlimit="10" />
<g fill="#000000" font-family="Courier New" font-weight="bold" text-anchor="middle" font-size="12px">
 <rect fill="#ffffff" stroke="none" x="339" y="513" width="24" height="15" stroke-width="0" />
 <text x="349.5" y="522.5">Naa</text>
</g>
<path d="M 539 439 L 539 439.17 L 549.2 438.89 L 559.4 438.52 L 569.6 438.87 L 579.8 438.5 L 590 439.57 L 600.2 438.73 L 610.4 438.71 L 620.6 438.86 L 630.8 438.61 L 641 439 Q 650 439 650 448 L 649.9 448 L 650.19 456.4 L 650.03 464.8 L 650.16 473.2 L 649.83 481.6 L 650 490 Q 650 499 641 499 L 641 498.73 L 630.8 499.11 L 620.6 499.38 L 610.4 499.36 L 600.2 498.8 L 590 499.55 L 579.8 499.15 L 569.6 498.66 L 559.4 498.8 L 549.2 499.05 L 539 499 Q 530 499 530 490 L 529.9 490 L 530.17 481.6 L 529.92 473.2 L 530.14 464.8 L 529.88 456.4 L 530 448 Q 530 439 539 439 L 539 439 Z Z" fill="#2c96d3" stroke="none" />
<g fill="#FFFFFF" font-family="Courier New" font-weight="bold" text-anchor="middle" font-size="12px">
 <text x="589.5" y="465.5">What frills</text>
 <text x="589.5" y="479.5">do you require?</text>
</g>
<path d="M 410 469 L 523.63 469" fill="none" stroke="#000000" stroke-miterlimit="10" />
<path d="M 528.88 469 L 521.88 472.5 L 523.63 469 L 521.88 465.5 Z" fill="#000000" stroke="#000000" stroke-miterlimit="10" />
<g fill="#000000" font-family="Courier New" font-weight="bold" text-anchor="middle" font-size="12px">
 <rect fill="#ffffff" stroke="none" x="423" y="463" width="96" height="15" stroke-width="0" />
 <text x="469.5" y="472.5">Call me Tiger</text>
</g>
<path d="M 650 454 L 670 454 L 670 419 L 510 419 L 510 369 L 523.63 369" fill="none" stroke="#000000" stroke-miterlimit="10" />
<path d="M 528.88 369 L 521.88 372.5 L 523.63 369 L 521.88 365.5 Z" fill="#000000" stroke="#000000" stroke-miterlimit="10" />
<g fill="#000000" font-family="Courier New" font-weight="bold" text-anchor="middle" font-size="12px">
 <rect fill="#ffffff" stroke="none" x="518" y="413" width="146" height="15" stroke-width="0" />
 <text x="590" y="423">An award-winning spa</text>
</g>
<path d="M 650 484 L 670 484 L 670 519 L 510 519 L 510 569 L 523.63 569" fill="none" stroke="#000000" stroke-miterlimit="10" />
<path d="M 528.88 569 L 521.88 572.5 L 523.63 569 L 521.88 565.5 Z" fill="#000000" stroke="#000000" stroke-miterlimit="10" />
<g fill="#000000" font-family="Courier New" font-weight="bold" text-anchor="middle" font-size="12px">
 <rect fill="#ffffff" stroke="none" x="558" y="513" width="67" height="15" stroke-width="0" />
 <text x="590" y="523">Free Wifi</text>
</g>
<path d="M 59 539 L 59 539.34 L 69.2 538.87 L 79.4 539.23 L 89.6 539.64 L 99.8 539.51 L 110 538.55 L 120.2 538.6 L 130.4 539.25 L 140.6 539.22 L 150.8 539.06 L 161 539 Q 170 539 170 548 L 169.92 548 L 169.92 556.4 L 169.93 564.8 L 169.76 573.2 L 169.8 581.6 L 170 590 Q 170 599 161 599 L 161 598.34 L 150.8 599.41 L 140.6 599.39 L 130.4 599.55 L 120.2 598.32 L 110 599.55 L 99.8 598.87 L 89.6 598.25 L 79.4 599.67 L 69.2 598.69 L 59 599 Q 50 599 50 590 L 49.95 590 L 49.77 581.6 L 50.06 573.2 L 49.76 564.8 L 50.14 556.4 L 50 548 Q 50 539 59 539 L 59 539 Z Z" fill="#2c96d3" stroke="none" />
<g fill="#FFFFFF" font-family="Courier New" font-weight="bold" text-anchor="middle" font-size="12px">
 <text x="109.5" y="558.5">Which is your</text>
 <text x="109.5" y="572.5">preferred food-</text>
 <text x="109.5" y="586.5">based anagram?</text>
</g>
<path d="M 290 569 L 280 569 L 176.37 569" fill="none" stroke="#000000" stroke-miterlimit="10" />
<path d="M 171.12 569 L 178.12 565.5 L 176.37 569 L 178.12 572.5 Z" fill="#000000" stroke="#000000" stroke-miterlimit="10" />
<g fill="#000000" font-family="Courier New" font-weight="bold" text-anchor="middle" font-size="12px">
 <rect fill="#ffffff" stroke="none" x="205" y="563" width="52" height="15" stroke-width="0" />
 <text x="230" y="573">200-300</text>
</g>
<path d="M 50 554 L 30 554 L 30 519 L 190 519 L 190 469 L 176.37 469" fill="none" stroke="#000000" stroke-miterlimit="10" />
<path d="M 171.12 469 L 178.12 465.5 L 176.37 469 L 178.12 472.5 Z" fill="#000000" stroke="#000000" stroke-miterlimit="10" />
<g fill="#000000" font-family="Courier New" font-weight="bold" text-anchor="middle" font-size="12px">
 <rect fill="#ffffff" stroke="none" x="61" y="512" width="103" height="15" stroke-width="0" />
 <text x="111" y="522">Meat Deliverer</text>
</g>
<path d="M 50 584 L 30 584 L 30 619 L 190 619 L 190 664 L 176.37 664" fill="none" stroke="#000000" stroke-miterlimit="10" />
<path d="M 171.12 664 L 178.12 660.5 L 176.37 664 L 178.12 667.5 Z" fill="#000000" stroke="#000000" stroke-miterlimit="10" />
<g fill="#000000" font-family="Courier New" font-weight="bold" text-anchor="middle" font-size="12px">
 <rect fill="#ffffff" stroke="none" x="67" y="613" width="88" height="15" stroke-width="0" />
 <text x="110" y="623">Mr Inner Pie</text>
</g>
<path d="M 350 599 L 350 627.63" fill="none" stroke="#000000" stroke-miterlimit="10" />
<path d="M 350 632.88 L 346.5 625.88 L 350 627.63 L 353.5 625.88 Z" fill="#000000" stroke="#000000" stroke-miterlimit="10" />
<g fill="#000000" font-family="Courier New" font-weight="bold" text-anchor="middle" font-size="12px">
 <rect fill="#ffffff" stroke="none" x="335" y="610" width="31" height="15" stroke-width="0" />
 <text x="349.5" y="619.5">One?</text>
</g>
<path d="M 539 726 L 539 725.26 L 549.2 725.44 L 559.4 725.81 L 569.6 726.17 L 579.8 725.94 L 590 726.27 L 600.2 725.95 L 610.4 726.51 L 620.6 725.37 L 630.8 725.61 L 641 726 Q 650 726 650 735 L 649.85 735 L 649.97 743.4 L 649.85 751.8 L 649.82 760.2 L 650.17 768.6 L 650 777 Q 650 786 641 786 L 641 786.46 L 630.8 785.95 L 620.6 786.23 L 610.4 785.6 L 600.2 785.71 L 590 786.38 L 579.8 785.98 L 569.6 785.84 L 559.4 786.18 L 549.2 786.21 L 539 786 Q 530 786 530 777 L 529.85 777 L 530.23 768.6 L 529.83 760.2 L 530.03 751.8 L 529.96 743.4 L 530 735 Q 530 726 539 726 L 539 726 Z Z" fill="#2c96d3" stroke="none" />
<g fill="#FFFFFF" font-family="Courier New" font-weight="bold" text-anchor="middle" font-size="12px">
 <text x="589.5" y="752.5">Do you prefer</text>
 <text x="589.5" y="766.5">Kings or Arms?</text>
</g>
<path d="M 410 664 L 470 664 L 470 756 L 523.63 756" fill="none" stroke="#000000" stroke-miterlimit="10" />
<path d="M 528.88 756 L 521.88 759.5 L 523.63 756 L 521.88 752.5 Z" fill="#000000" stroke="#000000" stroke-miterlimit="10" />
<g fill="#000000" font-family="Courier New" font-weight="bold" text-anchor="middle" font-size="12px">
 <rect fill="#ffffff" stroke="none" x="455" y="698" width="31" height="15" stroke-width="0" />
 <text x="469" y="708">DO I</text>
</g>
<path d="M 650 741 L 670 741 L 670 664 L 656.37 664" fill="none" stroke="#000000" stroke-miterlimit="10" />
<path d="M 651.12 664 L 658.12 660.5 L 656.37 664 L 658.12 667.5 Z" fill="#000000" stroke="#000000" stroke-miterlimit="10" />
<g fill="#000000" font-family="Courier New" font-weight="bold" text-anchor="middle" font-size="12px">
 <rect fill="#ffffff" stroke="none" x="681" y="710" width="19" height="15" stroke-width="0" />
 <text x="689.5" y="719.5">&#x1f451;</text>
</g>
<path d="M 650 771 L 670 771 L 670 866 L 656.37 866" fill="none" stroke="#000000" stroke-miterlimit="10" />
<path d="M 651.12 866 L 658.12 862.5 L 656.37 866 L 658.12 869.5 Z" fill="#000000" stroke="#000000" stroke-miterlimit="10" />
<g fill="#000000" font-family="Courier New" font-weight="bold" text-anchor="middle" font-size="12px">
 <rect fill="#ffffff" stroke="none" x="682" y="780" width="19" height="15" stroke-width="0" />
 <text x="690" y="790">&#x1f4aa;</text>
</g>
<path d="M 350 694 L 350 718 L 110 718 L 110 734.63" fill="none" stroke="#000000" stroke-miterlimit="10" />
<path d="M 110 739.88 L 106.5 732.88 L 110 734.63 L 113.5 732.88 Z" fill="#000000" stroke="#000000" stroke-miterlimit="10" />
<g fill="#000000" font-family="Courier New" font-weight="bold" text-anchor="middle" font-size="12px">
 <rect fill="#ffffff" stroke="none" x="223" y="712" width="16" height="15" stroke-width="0" />
 <text x="229.5" y="721.5">Na</text>
</g>
<path d="M 0 0 L 0 0.29 L 10 0.67 L 20 0.26 L 30 -0.22 L 40 -0.56 L 50 0.51 L 60 0.09 L 70 0.19 L 80 -0.47 L 90 -0.3 L 100 -0.7 L 110 -0.09 L 120 -0.12 L 130 -0.68 L 140 0.24 L 150 -0.46 L 160 -0.1 L 170 -0.24 L 180 -0.21 L 190 0.43 L 200 0.4 L 210 0.24 L 220 -0.56 L 230 0.04 L 240 0.13 L 250 -0.6 L 260 0.36 L 270 0.22 L 280 -0.74 L 290 -0.42 L 300 -0.35 L 310 -0.47 L 320 0.53 L 330 -0.4 L 340 -0.67 L 350 -0.58 L 360 0.66 L 370 0.63 L 380 -0.58 L 390 0.46 L 400 -0.11 L 410 -0.56 L 420 0.02 L 430 -0.47 L 440 -0.66 L 450 -0.26 L 460 0.46 L 470 0.61 L 480 -0.42 L 490 -0.46 L 500 -0.23 L 510 -0.26 L 520 -0.23 L 530 0.33 L 540 -0.31 L 550 -0.18 L 560 -0.34 L 570 0.74 L 580 0.1 L 590 0.33 L 600 0.63 L 610 0.16 L 620 -0.37 L 630 -0.67 L 640 -0.26 L 650 -0.12 L 660 0.24 L 670 0.75 L 680 0.66 L 690 -0.25 L 700 0 L 700.36 0 L 699.49 10 L 700.28 20 L 700.62 30 L 700.32 40 L 700.01 50 L 699.6 60 L 699.7 70 L 700.06 80 L 699.59 90 L 700 100 L 700 100.19 L 690 100.21 L 680 99.7 L 670 100.68 L 660 99.56 L 650 99.28 L 640 100.07 L 630 99.97 L 620 100.75 L 610 99.39 L 600 99.51 L 590 100.38 L 580 99.47 L 570 99.96 L 560 100.23 L 550 99.47 L 540 99.82 L 530 100.56 L 520 99.78 L 510 99.91 L 500 99.62 L 490 100.14 L 480 100.32 L 470 100.03 L 460 100.45 L 450 99.6 L 440 100.14 L 430 100.68 L 420 99.52 L 410 99.29 L 400 99.81 L 390 99.56 L 380 100.04 L 370 99.88 L 360 99.53 L 350 99.87 L 340 99.41 L 330 100 L 320 100.44 L 310 99.92 L 300 99.7 L 290 100.31 L 280 99.35 L 270 99.46 L 260 100.61 L 250 99.82 L 240 99.72 L 230 100.23 L 220 99.68 L 210 99.29 L 200 99.51 L 190 100.06 L 180 99.44 L 170 99.82 L 160 99.36 L 150 100.7 L 140 100.55 L 130 99.58 L 120 99.58 L 110 99.43 L 100 99.91 L 90 100.19 L 80 99.97 L 70 99.5 L 60 100.63 L 50 100.68 L 40 99.25 L 30 100.67 L 20 100.22 L 10 100.63 L 0 100 L -0.32 100 L 0.39 90 L -0.45 80 L 0.49 70 L -0.03 60 L 0.06 50 L 0.2 40 L 0.22 30 L 0.43 20 L -0.67 10 L 0 0 L 0 0 Z Z" fill="#ffffff" stroke="none" />
<g fill="#000000" font-family="Courier New" font-weight="bold" text-anchor="middle" font-size="20px">
 <text x="349.5" y="33.5">Sarah and Jonny's Super Scientific </text>
 <text x="349.5" y="57.5">Accommodation Finding Flowchart </text>
 <text x="349.5" y="81.5">(SAJSSAFF)</text>
</g>
</g>
</svg>
</div>
</body>
