<%
first_name = person["name"].split(" ").first
%>

<title>Thanks <%= first_name %>! &middot; #smarnold</title>
<link rel="stylesheet" type="text/css" href="/rsvp/style.css">
<meta name="viewport" content="width=device-width, initial-scale=1">

<body>
 <div class="rsvp-page">
  <div class="page-content">
    <img class="heart" src="/rsvp/heart-teal.svg" />

    <h1 class="thanks">Thanks <%= first_name %>!</h1>
    <p>We've got that all saved.<br/>Thanks for letting us know.</p>

    <a class="complete-link" href="/rsvp/<%= person["id"] %>">Change your response</a>
    <a class="complete-link" href="/rsvp">RSVP for another person</a>
    <a class="complete-link" href="/">Go back to our awesome website</a>
  </div>
</div>
</body>
