<title>RSVP &middot; #smarnold</title>
<link rel="stylesheet" type="text/css" href="rsvp/style.css">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-44805097-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-44805097-3');
</script>

<script type="text/javascript" src="/js/similarity.js"></script>
<script type="text/javascript">

var people = JSON.parse(<%= names.to_json %>);
var suggestions = [];

function checkNames(nameLookup) {
  var lookup = nameLookup.value;
  
  suggestions = [];
  if (lookup.length >= 3) {
    suggestions = people.map(function(person) {
      var score = similarity(lookup, person.name);
      return { id: person.id, name: person.name, score: score };
    }).filter(function(person) { return person.score > 0 });
  }

  // Build name suggestions
  var suggestionContainer = document.getElementById("name-suggestions")
  while (suggestionContainer.hasChildNodes()) {
    suggestionContainer.removeChild(suggestionContainer.lastChild);
  }

  var suggestionElements = suggestions.forEach(function(suggestion) {
    var suggestionElement = document.createElement("a");
    suggestionElement.setAttribute("class", "suggestion");
    suggestionElement.setAttribute("href", "#");
    suggestionElement.onclick = function() { onNameSelect(suggestion); }
    
    var suggestionText = document.createTextNode(suggestion.name);
    suggestionElement.appendChild(suggestionText);
    
    suggestionContainer.appendChild(suggestionElement);
  });
}

function checkSearchEnter(event) {
  var passwordEntry = document.getElementById("password-entry");
  passwordEntry.style.visibility = "hidden";

  if (event.keyCode === 13 && suggestions.length === 1) {
    onNameSelect(suggestions[0]);
  }
}

function onNameSelect(suggestion) {
  console.log("ID " + suggestion.id + " selected!");

  var nameLookup = document.getElementById("name-lookup");
  nameLookup.value = "";

  var suggestionContainer = document.getElementById("name-suggestions")
  while (suggestionContainer.hasChildNodes()) {
    suggestionContainer.removeChild(suggestionContainer.lastChild);
  }

  var form = document.getElementById("rsvp-search");
  form.setAttribute("action", "/rsvp/" + suggestion.id);

  var name = document.getElementById("name");
  name.innerHTML = suggestion.name.split(" ")[0];

  var passwordEntry = document.getElementById("password-entry");
  passwordEntry.style.visibility = "visible";

  var password = document.getElementById("password");
  password.focus();

}

function checkPasswordEnter(event) {
  if (event.keyCode === 13 && suggestions.length === 1) {
    var form = document.getElementById("rsvp-search");
    form.submit();
  }
}

</script>

<body>
  <div class="rsvp-page">
    <div class="page-content">
      <img class="heart" src="/rsvp/heart-teal.svg" />

      <label for="name-lookup" class="name-lookup-label">Hello lovely person.<br/>Please search for your name below.</label>
      <input id="name-lookup" class="name-lookup" name="name-lookup" type="text" oninput="checkNames(this)" onkeypress="checkSearchEnter(event)" autocomplete="off" />

      <div id="name-suggestions" class="name-suggestions">
        &nbsp;
      </div>

      <form id="rsvp-search" action="/rsvp/:id" method="GET">
        <div id="password-entry" style="visibility: hidden;">
          <label for="password" class="password-label">Hello <span id="name" class="name"></span>!<br/>Please enter the password from your invite.</label>
          <input id="password" class="password" name="password" type="text" onkeypress="checkPasswordEnter(event)" autocomplete="off" />
          <button class="submit-button" type="submit">Let's go!</button>
        </div>
      </form>

      <p class="contact-us">Something not working? <a href="/contact-us">Contact us!</a></p>
    </div>
  </div>
</body>
