<title>RSVP &middot; #smarnold</title>
<link rel="stylesheet" type="text/css" href="rsvp/style.css">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-44805097-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-44805097-3');
</script>

<script type="text/javascript" src="/js/similarity.js"></script>

<body>
  <div class="rsvp-page">
    <div class="page-content">
      <img class="heart" src="/rsvp/heart-teal.svg" />

      <p class="name-lookup-label">The wedding was a while back now. Nothing to see here.</p>
    </div>
  </div>
</body>
