<title>The Big Day &middot; #smarnold</title>
<link rel="stylesheet" type="text/css" href="the-big-day/style.css">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-44805097-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-44805097-3');
</script>

<body>
  <div class="big-day-page">

    <div class="hero">
      <h1 class="hero-title">The Big Day</h1>
    </div>

    <div class="initial-content-container">
      <div class="intro">
        <p>We're getting married at <a href="https://www.northhillfarm.co.uk/" target="_blank">North Hill Farm</a> on Saturday 25th August 2018.</p>

        <p>It's a field.</p>

        <p>On a good day, it looks like that field up there.</p>

        <p>Don't worry, it won't <i>just</i> be a field. There'll be a tent, and some food. Maybe even some fire.</p>

        <p>You'll have to bring the dancing.</p>
      </div>

       <div class="itinerary">

        <h2 class="itinerary-title">Itinerary</h2>

        <div class="itinerary-item">
          <span class="itinerary-time">12 noon</span>
          <span class="itinerary-text">Guests arrive.</span>
        </div>

        <div class="itinerary-item">
          <span class="itinerary-time">12.30pm</span>
          <span class="itinerary-text">Ceremony.</span>
        </div>

        <div class="itinerary-item">
          <span class="itinerary-time">1pm</span>
          <span class="itinerary-text">Schmooze.</span>
        </div>

        <div class="itinerary-item">
          <span class="itinerary-time">2pm</span>
          <span class="itinerary-text">Food.</span>
        </div>

        <div class="itinerary-item">
          <span class="itinerary-time">6pm</span>
          <span class="itinerary-text">Band.</span>
        </div>

        <div class="itinerary-item">
          <span class="itinerary-time">8.30pm</span>
          <span class="itinerary-text">Loud(ish) disco.</span>
        </div>

        <div class="itinerary-item">
          <span class="itinerary-time">9.30pm</span>
          <span class="itinerary-text">Silent disco. (Ssh.)</span>
        </div>

        <div class="itinerary-item">
          <span class="itinerary-time">11.30pm</span>
          <span class="itinerary-text">Bedtime.</span>
        </div>

        <div class="itinerary-item">&nbsp;</div>
      </div>
    </div>

    <div class="faqs">
      <h2>Some questions and some answers</h2>

      <h3><img src="/the-big-day/heart-red.svg" width="20" height="20"> Where should I stay?</h3>

      <p>If you're up for camping, you can pitch on the wedding field for free on Saturday night. If not, there's loads of nearby sleeping places. <a href="/places-to-stay" target="_blank">Click here for a handy flowchart</a>.</p>

      <h3><img src="/the-big-day/heart-green.svg" width="20" height="20"> I see that Chorleywood is mostly fields and posh houses. Is there anything else nearby?</h3>

      <p>Of course! You could go and see <a href="https://en.wikipedia.org/wiki/London" target="_blank">London</a>. Or <a href="https://www.wbstudiotour.co.uk/" target="_blank">Harry Potter</a>. Or play <a href="https://www.northhillfarm.co.uk/copy-of-disc-golf" target="_blank">disc golf</a>, whatever that is.</p>

      <h3><img src="/the-big-day/heart-cyan.svg" width="20" height="20"> How do I get to the venue?</h3>

      <p>If you're coming <b>by car</b>, you're aiming for North Hill Farm (postcode WD3 6HA). You'll be able to park on-site on the day; follow the signs through the wood when you arrive.</p>

      <p>If you're coming <b>via public transport,</b> the venue is about 30 minutes' walk from <a href="https://goo.gl/maps/CEfhQj2toHJ2" target="_blank">Chorleywood Station</a>.</p>

      <h3><img src="/the-big-day/heart-purple.svg" width="20" height="20"> Is there anything in particular I should bring?</h3>

      <p>You'll want something warm for the evening and we'd recommend wearing sensible shoes. Remember, you'll be on a field all day.</p>

      <p>You'll need some cash for the bar. And your <a href="http://nedroid.com/2009/05/party-cat-full-series/" target="_blank">party cat</a>, of course.</p>

      <p>If you're <i>really</i> keen, there are some ideas on other stuff you could bring <a href="/help-us-out">here</a>.</p>
    </div>
  </div>
</body>
