@import "//fonts.googleapis.com/css?family=Sue+Ellen+Francisco";

* {
  box-sizing: border-box;
}

@mixin when-small {
  @media screen and (max-width: 1000px) {
    @content;
  }
}

@mixin when-really-small {
  @media screen and (max-width: 500px) {
    @content;
  }
}

body {
  background-color: #f0f0f0;

  font-family: "Sue Ellen Francisco", cursive;
  font-size: 20px;
  font-weight: 700;

  margin: 0 auto;
  padding: 0;
}

.party-page {
  background: url("/the-wedding-party/bg.png") top;
  box-sizing: border-box;
  margin: 0 auto;

  max-width: 1000px;
  min-width: 320px;

  padding-bottom: 50px;
}

@keyframes disco {
  0% {
    color: rgba(0, 255, 255, 1);
  }
  16% {
    color: rgba(0, 255, 255, 1);
  }
  20% {
    color: rgba(168, 0, 255, 1);
  }
  36% {
    color: rgba(168, 0, 255, 1);
  }
  40% {
    color: rgba(255, 135, 0, 1);
  }
  56% {
    color: rgba(255, 135, 0, 1);
  }
  60% {
    color: rgba(128, 255, 0, 1);
  }
  76% {
    color: rgba(128, 255, 0, 1);
  }
  80% {
    color: rgba(255, 0, 135, 1);
  }
  96% {
    color: rgba(255, 0, 135, 1);
  }
  100% {
    color: rgba(0, 255, 255, 1);
  }
}

.hero {
  margin: 0 auto;
  max-width: 1000px;

  background: url("/the-wedding-party/bg-inverted.png") bottom;
  animation-name: disco;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.hero-title {
  padding: 100px 20px;
  margin: 0;

  font-size: 300%;
  text-align: center;

  text-shadow: 0 0 5px #090909;
}

.party-gallery {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  width: 1000px;
  margin: 0 auto;

  @include when-small {
    width: 500px;
  }

  @include when-really-small {
    width: 100%;
    flex-direction: column;
  }
}

.item-image {
  z-index: 1;
  border-radius: 80px;
}

.item-image,
.item-description {
  padding: 10px;
  width: 250px;
  height: 250px;

  @include when-really-small {
    max-width: 400px;
    height: auto;
    margin: 0 auto;
  }
}

.item-description,
.shuffle-link {
  display: flex;
}

.item-description-content {
  width: 100%;
}

.item-name {
  font-family: "Sue Ellen Francisco", cursive;
  font-size: 170%;
  font-weight: 700;
  margin: 0;
  padding: 0;

  line-height: 1.25;
}

.item-title {
  font-family: "Sue Ellen Francisco", cursive;
  font-size: 120%;
  font-weight: 700;
  margin: 0;
  padding: 0;

  line-height: 1.25;
}

@for $row from 0 through 9 {
  @for $column from 1 through 4 {
    $order: #{$row * 10 + $column};

    .cell-#{$row}#{$column} {
      order: $order;
      @include when-small {
        order: 0;
      }
    }
  }
}

.arrow {
  @include when-small {
    display: none;
  }
}

.description-above {
  text-align: center;
  align-self: flex-end;
  margin: 0 auto;
}

.arrow-down {
  margin-bottom: -40px;
  margin-top: 7px;
  position: relative;
  z-index: 2;
}

.description-below {
  text-align: center;
  align-self: flex-start;
  margin: 0 auto;
}

.arrow-up {
  margin-top: -40px;
  margin-bottom: 7px;
  position: relative;
  z-index: 2;
}

.description-left {
  text-align: right;
  align-self: center;
}

.arrow-right {
  margin-right: -40px;
  margin-bottom: 3px;
  position: relative;
  z-index: 2;
}

.description-right {
  text-align: left;
  align-self: center;
}

.arrow-left {
  margin-left: -35px;
  margin-top: 3px;
  position: relative;
  z-index: 2;
}

.description-below,
.description-above,
.description-left,
.description-right {
  @include when-small {
    text-align: left;
    align-self: center;
  }

  @include when-really-small {
    text-align: center;
    padding-bottom: 30px;
  }
}

.shuffle-link {
  padding: 0;
  margin: 10px;
  width: 230px;
  height: 230px;
  border-radius: 80px;

  @include when-really-small {
    margin: 10px auto;
  }

  background-color: rgba(0, 140, 140, 1);
  color: white;

  text-decoration: none;
}

.shuffle-text {
  text-align: center;
  align-self: center;
  margin: 0 auto;
  font-size: 150%;
}

.item-1 {
  .item-name,
  .item-title {
    color: rgba(0, 140, 140, 1);
  }

  .arrow * {
    stroke: rgba(0, 140, 140, 1) !important;
  }
}

.item-2 {
  .item-name,
  .item-title {
    color: rgba(53, 0, 140, 1);
  }

  .arrow * {
    stroke: rgba(53, 0, 140, 1) !important;
  }
}

.item-3 {
  .item-name,
  .item-title {
    color: rgba(190, 70, 0, 1);
  }

  .arrow * {
    stroke: rgba(190, 70, 0, 1) !important;
  }
}

.item-4 {
  .item-name,
  .item-title {
    color: rgba(13, 140, 0, 1);
  }

  .arrow * {
    stroke: rgba(13, 140, 0, 1) !important;
  }
}

.item-5 {
  .item-name,
  .item-title {
    color: rgba(222, 133, 0, 1);
  }

  .arrow * {
    stroke: rgba(222, 133, 0, 1) !important;
  }
}

.spacer {
  width: 250px;
  height: 250px;

  @include when-small {
    flex: 0 0 0;
  }
}

.attribution {
  text-align: center;
  font-size: 75%;
  color: #666;
  margin-top: 60px;
}

.attribution-link {
  color: #666;
  text-decoration: none;
}
