<title>The Big Day &middot; #smarnold</title>
<link rel="stylesheet" type="text/css" href="the-big-day.css">
<meta name="viewport" content="width=device-width, initial-scale=1">

<body>
  <div class="big-day-page">

    <div class="hero">
      <h1 class="hero-title">The Big Day</h1>
    </div>

    <p>We're getting married at <a href="https://www.northhillfarm.co.uk/" target="_blank">North Hill Farm</a> on Saturday 25th August 2018.</p>

    <p>There's a bunch of places to stay nearby:</p>

    <p>North Hill Farm is really cool because there's a bunch of stuff to do nearby: you can go and see London, or Harry Potter, or a spa.</p>



      Stuff to do nearby.
      Where to stay.
      Parking on-site.
      What to bring.
    </p>

    <div class="itinerary">
      
      <h2 class="itinerary-title">Itinerary</h2>

      <div class="itinerary-item">
        <span class="itinerary-time">11.30am</span>
        <span class="itinerary-text">Guests arrive.</span>
      </div>

      <div class="itinerary-item">
        <span class="itinerary-time">12.00 noon</span>
        <span class="itinerary-text">Ceremony.</span>
      </div>

      <div class="itinerary-item">
        <span class="itinerary-time">1pm</span>
        <span class="itinerary-text">Schmooze.</span>
      </div>

      <div class="itinerary-item">
        <span class="itinerary-time">2pm</span>
        <span class="itinerary-text">Food.</span>
      </div>

      <div class="itinerary-item">
        <span class="itinerary-time">6pm</span>
        <span class="itinerary-text">Band.</span>
      </div>

      <div class="itinerary-item">
        <span class="itinerary-time">8pm</span>
        <span class="itinerary-text">Loud(ish) disco.</span>
      </div>

      <div class="itinerary-item">
        <span class="itinerary-time">9.30pm</span>
        <span class="itinerary-text">Silent disco. (Ssh.)</span>
      </div>

      <div class="itinerary-item">
        <span class="itinerary-time">11.30pm</span>
        <span class="itinerary-text">Bedtime.</span>
      </div>

      <div class="itinerary-item">&nbsp;</div>
    </div>

    <ul>
      <li>Where (inc. awesome stuff like Harry Potter. Or London.)</li>
      <li>Start Time, Estimated Finishing Time</li>
      <li>Rough Itinerary</li>
      <li>Places to Park/Stay</li>
      <li>What to bring (Dress code, No heels, Warm, check the forecast, maybe cake?)</li>
    </ul>

  </div>
</body>
