@import "//fonts.googleapis.com/css?family=Sue+Ellen+Francisco";
@import "//fonts.googleapis.com/css?family=Josefin+Sans:300, 700";

body {
  background-color: #f0f0f0;

  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  font-weight: 300;

  margin: 0 auto;
  padding: 0;
  /*text-align: center;*/
}

.big-day-page {
  background-color: #f9f9f9;
  margin: 0 auto;

  box-sizing: border-box;
  min-width: 320px;
  max-width: 1000px;

  padding-bottom: 50px;
}

.hero {
  background: url("/the-big-day/north-hill-farm.jpg") no-repeat center top;
  background-size: cover;
  max-width: 1000px;
  margin: 0 auto;
}

.hero-title {
  padding: 150px 20px;
  margin: 0;

  font-family: "Sue Ellen Francisco", cursive;
  font-size: 300%;
  font-weight: 700;
  text-align: center;

  text-shadow: 0 0 5px #f9f9f9;
}

.north-hill-farm-image {
  float: right;

  box-shadow: 3px 3px 4px 2px rgba(0, 0, 0, 0.5);
  transform: rotate(3deg);

  border: 20px solid white;
  border-bottom-width: 60px;

  margin: 0 0 20px 20px;
}

h2 {
  font-family: "Sue Ellen Francisco", cursive;
  margin: 40px 10px 10px 10px;
}

h3 {
  font-family: "Sue Ellen Francisco", cursive;
  margin: 40px 10px 0 10px;
}

p {
  margin: 10px 10px 20px 10px;
}

.initial-content-container {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 640px) {
  .initial-content-container {
    display: block;
  }
}

.intro {
  flex: 2;
  padding-left: 20px;
}

@media screen and (max-width: 640px) {
  .intro {
    padding-left: 0;
  }
}

.itinerary {
  flex: 1;

  box-shadow: -3px 3px 4px 2px rgba(0, 0, 0, 0.5);
  transform: rotate(-3deg);

  background-color: #fffcd9;

  font-family: "Sue Ellen Francisco", cursive;
  font-weight: 400;

  margin: -40px 40px 10px 40px;
}

@media screen and (max-width: 640px) {
  .itinerary {
    margin: 40px;
  }
}

.itinerary-title {
  padding: 10px 20px;
  margin: 0;
  margin-bottom: -10px;
}

.itinerary-item {
  border-top: 1px solid #aaa;
  padding: 2px 40px;
  padding-top: 10px;
  margin-bottom: -10px;
}

.itinerary-time {
  font-weight: bold;
  padding-right: 5px;
}

.faqs {
  padding: 0 20px;
}

@media screen and (max-width: 640px) {
  .faqs {
    padding: 0;
  }
}
