@import '//fonts.googleapis.com/css?family=Josefin+Sans:300, 700';

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.rsvp-page {
  background-color: rgba(0, 140, 140, 1);
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  font-weight: 300;

  display: flex;
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;

  justify-content: center;
  align-items: center;
  text-align: center;
}

.page-content {
  background-color: white;
  border-radius: 80px;
  padding: 80px;
  margin: 40px;
  box-shadow: 0 5px 15px 5px rgba(0, 0, 0, 0.25);

  width: 50%;
}

.edit-page-content {
  background-color: white;
  border-radius: 80px;
  margin: 40px;
  padding: 80px;
  box-shadow: 0 5px 15px 5px rgba(0, 0, 0, 0.25);

  width: 50%;
  align-self: flex-start;
}

@media screen and (max-width: 600px) {
  .page-content,
  .edit-page-content {
    padding: 20px;
    border-radius: 40px;
    width: 95%;
    margin: 20px;
  }
}

.heart {
  width: 40px;
  height: 40px;
  display: block;
  margin: 0 auto 40px auto;
}

.name-lookup,
.password,
.textarea {
  display: block;
  margin: 20px auto;

  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  font-weight: 300;
}

@media screen and (max-width: 600px) {
  .name-lookup,
  .textarea {
    width: 80%;
  }
}

.textarea {
  padding: 10px;
  margin-bottom: 40px;
  border-radius: 10px;
  border: 1px solid #ccc;
  max-width: 500px;
  width: 100%;
}

.name-suggestions {
  display: block;
  height: 3em;
  line-height: 1.5;
  overflow-y: hidden;
}

@media screen and (max-width: 600px) {
  .name-suggestions {
    height: 6em;
  }
}

.suggestion {
  display: inline-block;
  padding: 0 10px;

  text-decoration: none;
}

.name {
  font-weight: 700;
}

.contact-us {
  font-size: 75%;
}

.intro {
  font-weight: 700;
}

.question {
  border-top: 1px solid #eee;
  margin-top: 20px;
  /*padding-top: 20px;*/
}

.rsvp-radio {
  visibility: hidden;
  position: absolute;
}

.rsvp-button {
  display: inline-block;
  font-weight: 700;
  padding: 20px 40px;
  border-radius: 2000px;
  border: 1px solid #ddd;
  margin: 20px;
  cursor: pointer;

  transition: background-color 0.25s ease-out, border-color 0.25s ease-out;
}

.rsvp-radio:checked + label {
  background-color: rgba(222, 133, 0, 1);
  border-color: rgba(222, 133, 0, 1);
}

.rsvp-button:hover,
.rsvp-button:focus,
.rsvp-button:active {
  background-color: rgba(255, 183, 0, 1);
  border-color: rgba(255, 183, 0, 1);
}

@media screen and (max-width: 600px) {
  .rsvp-button {
    margin: 20px;
    padding: 10px 20px;
  }
}

.submit-button {
  display: inline-block;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-size: 100%;
  padding: 20px 40px;
  border-radius: 2000px;
  border: 2px solid #ccc;
  margin: 20px;
  cursor: pointer;

  transition: background-color 0.25s ease-out;
}

.thanks {
  margin-top: 0;
}

.complete-link {
  display: block;
  margin: 10px auto;
}

.meal-choices {
  list-style-type: none;
  margin: 10px 0;
  padding: 0;
}

.meal-choice label {
  display: inline-block;
  padding: 20px 20px;
  border: 1px solid #ddd;
  border-radius: 40px;
  margin: 10px 0;
  max-width: 500px;
  cursor: pointer;

  transition: background-color 0.25s ease-out, border-color 0.25s ease-out;
}

.meal-choice input {
  visibility: hidden;
  position: absolute;
}

.meal-choice input:checked + label {
  background-color: rgba(222, 133, 0, 1);
  border-color: rgba(222, 133, 0, 1);
}

.meal-choice label:hover,
.meal-choice label:focus,
.meal-choice label:active {
  background-color: rgba(255, 183, 0, 1);
  border-color: rgba(255, 183, 0, 1);
}

.question-label {
  display: block;
  margin: 20px 0;
}
